In [1]:
import pandas as pd

## Prepare 2001 Datasets

In [2]:
# read in compiled 2001 census data

main_01 = pd.read_csv("main_df_2001_all.csv")

In [3]:
main_01.head()

,Unnamed: 0,2001 census lower super output areas and data zones,proportion_of_source_in_target,2011 census lower super output areas,2011 super output area - lower layer,All usual residents,Age 0 to 4,Age 5 to 7,Age 8 to 9,Age 10 to 14,...,X1_Higher_managerial_administrative_and_professional_occupations_2001,X2_Lower_managerial_administrative_and_professional_occupations_2001,X3_Intermediate_occupations_2001,X4_Small_employers_and_own_account_workers_2001,X5_Lower_supervisory_and_technical_occupations_2001,X6_Semi_routine_occupations_2001,X7_Routine_occupations_2001,X8_Never_worked_and_long_term_unemployed_2001,Not_classified_2001,Median_income_2001
0,0,E01000001,1.0,E01000001,City of London 001A,1600,39,12,10,31,...,563.0,403.0,60.0,63.0,12.0,21.0,11.0,21.0,270.0,45630
1,1,E01000002,1.0,E01000002,City of London 001B,1470,48,17,19,35,...,480.0,387.0,56.0,80.0,12.0,34.0,6.0,13.0,194.0,44970
2,2,E01000003,1.0,E01000003,City of London 001C,1537,62,29,20,17,...,271.0,303.0,138.0,49.0,43.0,81.0,38.0,28.0,284.0,36330
3,3,E01000005,1.0,E01000005,City of London 001E,1073,77,40,31,73,...,86.0,134.0,63.0,18.0,37.0,86.0,45.0,100.0,194.0,31530
4,4,E01000006,1.0,E01000006,Barking and Dagenham 016A,1571,115,46,44,98,...,84.0,246.0,138.0,61.0,76.0,136.0,80.0,92.0,251.0,26360

In [4]:
# check feature columns

list(main_01.columns)

['Unnamed: 0',
 '2001 census lower super output areas and data zones',
 'proportion_of_source_in_target',
 '2011 census lower super output areas',
 '2011 super output area - lower layer',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Average household size',
 'Average number of rooms per household',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2001',
 'Median_House_Prices_2001',
 'All_cat_qual_2001',
 'Level4_qual_2001',
 'Level4_2001_pct',
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',
 'Median_income_2001']

In [5]:
# drop unnecessary columns

main_01 = main_01.drop(columns = ['Unnamed: 0', '2001 census lower super output areas and data zones', 'proportion_of_source_in_target',])

In [6]:
# verify the eventual features after scrubbing the unnecessary ones

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Average household size',
 'Average number of rooms per household',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2001',
 'Median_House_Prices_2001',
 'All_cat_qual_2001',
 'Level4_qual_2001',
 'Level4_2001_pct',
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',
 'Median_income_2001']

In [7]:
# standardise data points

#standardise age structures
for i in range(3,19):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[2])] *100).round(2)
    
#standardise household composition
for i in range(20,35):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[19])] *100).round(2)

#standardise residential makeup
for i in range(38,41):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[35])] *100).round(2)

#standardise residential tenure
for i in range(42,49):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[41])] *100).round(2)

#standardise accommodation type
for i in range(49,58):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / (main_01[str(main_01.columns[49])] + main_01[str(main_01.columns[50])] + main_01[str(main_01.columns[51])]) *100).round(2)

#standardise occupation groups
for i in range(59,68):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[58])] *100).round(2)
    
#standardise economically active population
for i in range(69,71):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[68])] *100).round(2)

#standardise NS-SEC
for i in range(78,87):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[77])] *100).round(2)

In [8]:
main_01.head()

,2011 census lower super output areas,2011 super output area - lower layer,All usual residents,Age 0 to 4,Age 5 to 7,Age 8 to 9,Age 10 to 14,Age 15,Age 16 to 17,Age 18 to 19,...,Economically Inactive_pct,X1_Higher_managerial_administrative_and_professional_occupations_2001_pct,X2_Lower_managerial_administrative_and_professional_occupations_2001_pct,X3_Intermediate_occupations_2001_pct,X4_Small_employers_and_own_account_workers_2001_pct,X5_Lower_supervisory_and_technical_occupations_2001_pct,X6_Semi_routine_occupations_2001_pct,X7_Routine_occupations_2001_pct,X8_Never_worked_and_long_term_unemployed_2001_pct,Not_classified_2001_pct
0,E01000001,City of London 001A,1600,39,12,10,31,3,14,17,...,23.75,39.54,28.30,4.21,4.42,0.84,1.47,0.77,1.47,18.96
1,E01000002,City of London 001B,1470,48,17,19,35,3,6,8,...,21.17,38.03,30.67,4.44,6.34,0.95,2.69,0.48,1.03,15.37
2,E01000003,City of London 001C,1537,62,29,20,17,5,25,37,...,29.51,21.94,24.53,11.17,3.97,3.48,6.56,3.08,2.27,23.00
3,E01000005,City of London 001E,1073,77,40,31,73,16,28,19,...,40.24,11.27,17.56,8.26,2.36,4.85,11.27,5.90,13.11,25.43
4,E01000006,Barking and Dagenham 016A,1571,115,46,44,98,23,40,47,...,31.81,7.22,21.13,11.86,5.24,6.53,11.68,6.87,7.90,21.56

In [9]:
# check column names

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Average household size',
 'Average number of rooms per household',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2001',
 'Median_House_Prices_2001',
 'All_cat_qual_2001',
 'Level4_qual_2001',
 'Level4_2001_pct',
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',
 'Median_income_2001',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Without central heating_pct',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'All household spaces - with no residents - vacant_pct',
 'All household spaces - with no residents - second residence/holiday accommodation_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct']

In [10]:
# rearrange columns accordingly

main_01 = main_01[['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'Local_authority_name',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive', 
 'All_cat_qual_2001',
 'Level4_qual_2001', 
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',                   
 'pop_2001',
 'Median_House_Prices_2001',
 'Median_income_2001',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Without central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'All household spaces - with no residents - vacant_pct',
 'All household spaces - with no residents - second residence/holiday accommodation_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2001_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct'
 ]]

In [11]:
# checkpoing - output file
# main_01.to_csv("main_01_all_std.csv")

## Prepare 2011 Datasets

In [12]:
# read in compiled 2011 census data

main_11 = pd.read_csv("main_df_2011_all.csv", thousands = ",")

In [13]:
main_11.head()

,Unnamed: 0,2011 census lower super output areas,2011 super output area - lower layer_x,All usual residents,Age 0 to 4,Age 5 to 7,Age 8 to 9,Age 10 to 14,Age 15,Age 16 to 17,...,X1_Higher_managerial_administrative_and_professional_occupations_2011,X2_Lower_managerial_administrative_and_professional_occupations_2011,X3_Intermediate_occupations_2011,X4_Small_employers_and_own_account_workers_2011,X5_Lower_supervisory_and_technical_occupations_2011,X6_Semi_routine_occupations_2011,X7_Routine_occupations_2011,X8_Never_worked_and_long_term_unemployed_2011,Not_classified_2011,Median_income_2011
0,0,E01000001,City of London 001A,1465,50,19,14,26,6,7,...,530,429,73,68,12,25,8,21,55,65520
1,1,E01000002,City of London 001B,1436,60,33,13,30,7,11,...,518,392,83,85,15,23,9,11,60,66300
2,2,E01000003,City of London 001C,1346,53,14,8,24,5,33,...,278,322,101,66,38,68,49,51,129,54140
3,3,E01000005,City of London 001E,985,42,38,22,49,13,18,...,89,172,71,43,54,100,66,96,82,46740
4,4,E01000006,Barking and Dagenham 016A,1703,154,76,46,100,18,34,...,109,218,117,164,63,153,97,163,167,38200

In [14]:
# check column names

list(main_11.columns)

['Unnamed: 0',
 '2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'Other household types: All full-time students',
 'Other household types: All aged 65 and over',
 'Other household types: Other',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [15]:
# drop unnecessary columns

main_11 = main_11.drop(columns = ['Unnamed: 0'])

In [16]:
list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'Other household types: All full-time students',
 'Other household types: All aged 65 and over',
 'Other household types: Other',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [17]:
# standardise data points

#standardise age structures
for i in range(3,19):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[2])] *100).round(2)
    
#standardise household composition
for i in range(20,35):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[19])] *100).round(2)

#standardise residential makeup
for i in range(36,39):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[35])] *100).round(2)

#standardise residential tenure
for i in range(42,49):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[41])] *100).round(2)

#standardise accommodation type
for i in range(50,58):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[49])] *100).round(2)

#standardise occupation groups
for i in range(59,68):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[58])] *100).round(2)
    
#standardise economically active population
for i in range(69,71):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[68])] *100).round(2)

#standardise NS-SEC
for i in range(78,87):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[77])] *100).round(2)

In [18]:
# check feature columns

list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'Other household types: All full-time students',
 'Other household types: All aged 65 and over',
 'Other household types: Other',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'Other household types: All full-time students_pct',
 'Other household types: All aged 65 and over_pct',
 'Other household types: Other_pct',
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']

In [19]:
# re-arrange columns

main_11 = main_11[['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'Other household types: All full-time students',
 'Other household types: All aged 65 and over',
 'Other household types: Other',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011', 
 'pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'Other household types: All full-time students_pct',
 'Other household types: All aged 65 and over_pct',
 'Other household types: Other_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Does not have central heating_pct', 
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']]

In [20]:
# checkpoint - output file
# main_11.to_csv("main_11_all_std.csv")

## Synthesising Both Datasets to Obtain Change Variables

In [21]:
# checkpoint - re-loading datasets

# main_01=pd.read_csv("main_01_all_std.csv", thousands=",")
# main_11=pd.read_csv("main_11_all_std.csv", thousands=",")
# main_01=main_01.drop(columns=["Unnamed: 0"])
# main_11=main_11.drop(columns=["Unnamed: 0"])

In [22]:
# printing out 2001 columns and their index

for i in range(len(main_01.columns)):
    print(str(i) + ':' + str(main_01.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer
2:Local_authority_name
3:All usual residents
4:Age 0 to 4
5:Age 5 to 7
6:Age 8 to 9
7:Age 10 to 14
8:Age 15
9:Age 16 to 17
10:Age 18 to 19
11:Age 20 to 24
12:Age 25 to 29
13:Age 30 to 44
14:Age 45 to 59
15:Age 60 to 64
16:Age 65 to 74
17:Age 75 to 84
18:Age 85 to 89
19:Age 90 and over
20:All households_x
21:One person household - Pensioner
22:One person household - Other
23:One family and no others - All pensioners
24:One family and no others - married couple households - no children
25:One family and no others - married couple households - with dependent children
26:One family and no others - married couple households - all children non-dependent
27:One family and no others - cohabiting couple households - no children
28:One family and no others - cohabiting couple households - with dependent children
29:One family and no others - cohabiting couple households - all children non-dependent
30:One family and no others - Lone parent households - with dependent children
31:One family and no others - Lone parent households - all children non-dependent
32:Other households - With dependent children
33:Other households - All students
34:Other households - All pensioner
35:Other households - Other
36:All households_y
37:Occupancy rating of -1 or less
38:With central heating
39:Without central heating
40:All categories: Tenure
41:Owned outright
42:Owned with a mortgage or loan
43:Shared ownership
44:Rented from council(local authority)
45:Rented from a housing association/registered social landlord
46:Rented from a private landlord or letting agency
47:Other
48:All household spaces - with residents
49:All household spaces - with no residents - vacant
50:All household spaces - with no residents - second residence/holiday accommodation
51:Whole house or bungalow - detatched
52:Whole house or bungalow - semi-detatched
53:Whole house or bungalow - terraced
54:Flat, maisonette or apartment - in a purpose built block of flats or tenement
55:Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)
56:Flat, maisonette or apartment - in a commercial building
57:All categories: Occupation
58:1. Managers and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Personal service occupations
64:7. Sales and customer service occupations
65:8. Process, plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2001
71:Level4_qual_2001
72:All_categories_NS_SeC_2001
73:X1_Higher_managerial_administrative_and_professional_occupations_2001
74:X2_Lower_managerial_administrative_and_professional_occupations_2001
75:X3_Intermediate_occupations_2001
76:X4_Small_employers_and_own_account_workers_2001
77:X5_Lower_supervisory_and_technical_occupations_2001
78:X6_Semi_routine_occupations_2001
79:X7_Routine_occupations_2001
80:X8_Never_worked_and_long_term_unemployed_2001
81:Not_classified_2001
82:pop_2001
83:Median_House_Prices_2001
84:Median_income_2001
85:Age 0 to 4_pct
86:Age 5 to 7_pct
87:Age 8 to 9_pct
88:Age 10 to 14_pct
89:Age 15_pct
90:Age 16 to 17_pct
91:Age 18 to 19_pct
92:Age 20 to 24_pct
93:Age 25 to 29_pct
94:Age 30 to 44_pct
95:Age 45 to 59_pct
96:Age 60 to 64_pct
97:Age 65 to 74_pct
98:Age 75 to 84_pct
99:Age 85 to 89_pct
100:Age 90 and over_pct
101:One person household - Pensioner_pct
102:One person household - Other_pct
103:One family and no others - All pensioners_pct
104:One family and no others - married couple households - no children_pct
105:One family and no others - married couple households - with dependent children_pct
106:One family and no others - married couple households - all children non-dependent_pct
107:One family and no others - cohabiting couple households - no children_pct
108:One family and no others - cohabiting couple households - with dependent children_pct
109:One family and no others - cohabiting couple households - all children non-dependent_pct
110:One family and no others - Lone parent households - with dependent children_pct
111:One family and no others - Lone parent households - all children non-dependent_pct
112:Other households - With dependent children_pct
113:Other households - All students_pct
114:Other households - All pensioner_pct
115:Other households - Other_pct
116:Occupancy rating of -1 or less_pct
117:With central heating_pct
118:Without central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned outright_pct
122:Owned with a mortgage or loan_pct
123:Shared ownership_pct
124:Rented from council(local authority)_pct
125:Rented from a housing association/registered social landlord_pct
126:Rented from a private landlord or letting agency_pct
127:Other_pct
128:All household spaces - with residents_pct
129:All household spaces - with no residents - vacant_pct
130:All household spaces - with no residents - second residence/holiday accommodation_pct
131:Whole house or bungalow - detatched_pct
132:Whole house or bungalow - semi-detatched_pct
133:Whole house or bungalow - terraced_pct
134:Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct
135:Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct
136:Flat, maisonette or apartment - in a commercial building_pct
137:1. Managers and senior officials_pct
138:2. Professional occupations_pct
139:3. Associate professional and technical occupations_pct
140:4. Administrative and secretarial occupations_pct
141:5. Skilled trades occupations_pct
142:6. Personal service occupations_pct
143:7. Sales and customer service occupations_pct
144:8. Process, plant and machine operatives_pct
145:9. Elementary occupations_pct
146:Economically active_pct
147:Economically Inactive_pct
148:Level4_2001_pct
149:X1_Higher_managerial_administrative_and_professional_occupations_2001_pct
150:X2_Lower_managerial_administrative_and_professional_occupations_2001_pct
151:X3_Intermediate_occupations_2001_pct
152:X4_Small_employers_and_own_account_workers_2001_pct
153:X5_Lower_supervisory_and_technical_occupations_2001_pct
154:X6_Semi_routine_occupations_2001_pct
155:X7_Routine_occupations_2001_pct
156:X8_Never_worked_and_long_term_unemployed_2001_pct
157:Not_classified_2001_pct

In [23]:
# printing out 2011 columns and their index

for i in range(len(main_11.columns)):
    print(str(i) + ':' + str(main_11.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer_x
2:Local_authority_name
3:All usual residents
4:Age 0 to 4
5:Age 5 to 7
6:Age 8 to 9
7:Age 10 to 14
8:Age 15
9:Age 16 to 17
10:Age 18 to 19
11:Age 20 to 24
12:Age 25 to 29
13:Age 30 to 44
14:Age 45 to 59
15:Age 60 to 64
16:Age 65 to 74
17:Age 75 to 84
18:Age 85 to 89
19:Age 90 and over
20:All categories: Household composition
21:One person household: Aged 65 and over
22:One person household: Other
23:One family only: All aged 65 and over
24:One family only: Married or same-sex civil partnership couple: No children
25:One family only: Married or same-sex civil partnership couple: Dependent children
26:One family only: Married or same-sex civil partnership couple: All children non-dependent
27:One family only: Cohabiting couple: No children
28:One family only: Cohabiting couple: Dependent children
29:One family only: Cohabiting couple: All children non-dependent
30:One family only: Lone parent: Dependent children
31:One family only: Lone parent: All children non-dependent
32:Other household types: With dependent children
33:Other household types: All full-time students
34:Other household types: All aged 65 and over
35:Other household types: Other
36:All categories: Type of central heating in household
37:Does not have central heating
38:Does have central heating
39:Occupancy rating (rooms) of -1 or less
40:All households
41:Owned: Owned outright
42:Owned: Owned with a mortgage or loan
43:Shared ownership (part owned and part rented)
44:Social rented: Rented from council (Local Authority)
45:Social rented: Other
46:Private rented: Private landlord or letting agency
47:Private rented: Other
48:All categories: Household spaces
49:Household spaces with at least one usual resident
50:Household spaces with no usual residents
51:Whole house or bungalow: Detached
52:Whole house or bungalow: Semi-detached
53:Whole house or bungalow: Terraced (including end-terrace)
54:Flat, maisonette or apartment: Purpose-built block of flats or tenement
55:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)
56:Flat, maisonette or apartment: In a commercial building
57:All categories: Occupation
58:1. Managers, directors and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Caring, leisure and other service occupations
64:7. Sales and customer service occupations
65:8. Process plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2011
71:Level_4_qual_2011
72:All_categories_NS_SeC_2011
73:X1_Higher_managerial_administrative_and_professional_occupations_2011
74:X2_Lower_managerial_administrative_and_professional_occupations_2011
75:X3_Intermediate_occupations_2011
76:X4_Small_employers_and_own_account_workers_2011
77:X5_Lower_supervisory_and_technical_occupations_2011
78:X6_Semi_routine_occupations_2011
79:X7_Routine_occupations_2011
80:X8_Never_worked_and_long_term_unemployed_2011
81:Not_classified_2011
82:pop_2011
83:Median_House_Prices_2011
84:Median_income_2011
85:Age 0 to 4_pct
86:Age 5 to 7_pct
87:Age 8 to 9_pct
88:Age 10 to 14_pct
89:Age 15_pct
90:Age 16 to 17_pct
91:Age 18 to 19_pct
92:Age 20 to 24_pct
93:Age 25 to 29_pct
94:Age 30 to 44_pct
95:Age 45 to 59_pct
96:Age 60 to 64_pct
97:Age 65 to 74_pct
98:Age 75 to 84_pct
99:Age 85 to 89_pct
100:Age 90 and over_pct
101:One person household: Aged 65 and over_pct
102:One person household: Other_pct
103:One family only: All aged 65 and over_pct
104:One family only: Married or same-sex civil partnership couple: No children_pct
105:One family only: Married or same-sex civil partnership couple: Dependent children_pct
106:One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
107:One family only: Cohabiting couple: No children_pct
108:One family only: Cohabiting couple: Dependent children_pct
109:One family only: Cohabiting couple: All children non-dependent_pct
110:One family only: Lone parent: Dependent children_pct
111:One family only: Lone parent: All children non-dependent_pct
112:Other household types: With dependent children_pct
113:Other household types: All full-time students_pct
114:Other household types: All aged 65 and over_pct
115:Other household types: Other_pct
116:Occupancy rating (rooms) of -1 or less_pct
117:Does have central heating_pct
118:Does not have central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned: Owned outright_pct
122:Owned: Owned with a mortgage or loan_pct
123:Shared ownership (part owned and part rented)_pct
124:Social rented: Rented from council (Local Authority)_pct
125:Social rented: Other_pct
126:Private rented: Private landlord or letting agency_pct
127:Private rented: Other_pct
128:Household spaces with at least one usual resident_pct
129:Household spaces with no usual residents_pct
130:Whole house or bungalow: Detached_pct
131:Whole house or bungalow: Semi-detached_pct
132:Whole house or bungalow: Terraced (including end-terrace)_pct
133:Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
134:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
135:Flat, maisonette or apartment: In a commercial building_pct
136:1. Managers, directors and senior officials_pct
137:2. Professional occupations_pct
138:3. Associate professional and technical occupations_pct
139:4. Administrative and secretarial occupations_pct
140:5. Skilled trades occupations_pct
141:6. Caring, leisure and other service occupations_pct
142:7. Sales and customer service occupations_pct
143:8. Process plant and machine operatives_pct
144:9. Elementary occupations_pct
145:Economically active_pct
146:Economically Inactive_pct
147:Level4_2011_pct
148:X1_Higher_managerial_administrative_and_professional_occupations_2011_pct
149:X2_Lower_managerial_administrative_and_professional_occupations_2011_pct
150:X3_Intermediate_occupations_2011_pct
151:X4_Small_employers_and_own_account_workers_2011_pct
152:X5_Lower_supervisory_and_technical_occupations_2011_pct
153:X6_Semi_routine_occupations_2011_pct
154:X7_Routine_occupations_2011_pct
155:X8_Never_worked_and_long_term_unemployed_2011_pct
156:Not_classified_2011_pct

In [24]:
# need to combine columns 129 and 130 of 2001 dataset to be consistent with 2011 data

main_01["Household spaces with no usual residents_pct"] = main_01["All household spaces - with no residents - vacant_pct"] + main_01["All household spaces - with no residents - second residence/holiday accommodation_pct"]

In [25]:
# drop the combined columns

main_01 = main_01.drop(columns=["All household spaces - with no residents - vacant_pct","All household spaces - with no residents - second residence/holiday accommodation_pct"])

In [26]:
list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'Local_authority_name',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2001',
 'Level4_qual_2001',
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',
 'pop_2001',
 'Median_House_Prices_2001',
 'Median_income_2001',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Without central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2001_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'Household spaces with no usual residents_pct']

In [27]:
# re-arrange 2001 columns again

main_01 = main_01[['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'Local_authority_name',
 'All usual residents',
 'Age 0 to 4',
 'Age 5 to 7',
 'Age 8 to 9',
 'Age 10 to 14',
 'Age 15',
 'Age 16 to 17',
 'Age 18 to 19',
 'Age 20 to 24',
 'Age 25 to 29',
 'Age 30 to 44',
 'Age 45 to 59',
 'Age 60 to 64',
 'Age 65 to 74',
 'Age 75 to 84',
 'Age 85 to 89',
 'Age 90 and over',
 'All households_x',
 'One person household - Pensioner',
 'One person household - Other',
 'One family and no others - All pensioners',
 'One family and no others - married couple households - no children',
 'One family and no others - married couple households - with dependent children',
 'One family and no others - married couple households - all children non-dependent',
 'One family and no others - cohabiting couple households - no children',
 'One family and no others - cohabiting couple households - with dependent children',
 'One family and no others - cohabiting couple households - all children non-dependent',
 'One family and no others - Lone parent households - with dependent children',
 'One family and no others - Lone parent households - all children non-dependent',
 'Other households - With dependent children',
 'Other households - All students',
 'Other households - All pensioner',
 'Other households - Other',
 'All households_y',
 'Occupancy rating of -1 or less',
 'With central heating',
 'Without central heating',
 'All categories: Tenure',
 'Owned outright',
 'Owned with a mortgage or loan',
 'Shared ownership',
 'Rented from council(local authority)',
 'Rented from a housing association/registered social landlord',
 'Rented from a private landlord or letting agency',
 'Other',
 'All household spaces - with residents',
 'All household spaces - with no residents - vacant',
 'All household spaces - with no residents - second residence/holiday accommodation',
 'Whole house or bungalow - detatched',
 'Whole house or bungalow - semi-detatched',
 'Whole house or bungalow - terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
 'Flat, maisonette or apartment - in a commercial building',
 'All categories: Occupation',
 '1. Managers and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Personal service occupations',
 '7. Sales and customer service occupations',
 '8. Process, plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2001',
 'Level4_qual_2001',
 'All_categories_NS_SeC_2001',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001',
 'X3_Intermediate_occupations_2001',
 'X4_Small_employers_and_own_account_workers_2001',
 'X5_Lower_supervisory_and_technical_occupations_2001',
 'X6_Semi_routine_occupations_2001',
 'X7_Routine_occupations_2001',
 'X8_Never_worked_and_long_term_unemployed_2001',
 'Not_classified_2001',
 'pop_2001',
 'Median_House_Prices_2001',
 'Median_income_2001',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Without central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2001_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct'
 ]]

In [28]:
# printing out 2001 columns and their index

for i in range(len(main_01.columns)):
    print(str(i) + ':' + str(main_01.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer
2:Local_authority_name
3:All usual residents
4:Age 0 to 4
5:Age 5 to 7
6:Age 8 to 9
7:Age 10 to 14
8:Age 15
9:Age 16 to 17
10:Age 18 to 19
11:Age 20 to 24
12:Age 25 to 29
13:Age 30 to 44
14:Age 45 to 59
15:Age 60 to 64
16:Age 65 to 74
17:Age 75 to 84
18:Age 85 to 89
19:Age 90 and over
20:All households_x
21:One person household - Pensioner
22:One person household - Other
23:One family and no others - All pensioners
24:One family and no others - married couple households - no children
25:One family and no others - married couple households - with dependent children
26:One family and no others - married couple households - all children non-dependent
27:One family and no others - cohabiting couple households - no children
28:One family and no others - cohabiting couple households - with dependent children
29:One family and no others - cohabiting couple households - all children non-dependent
30:One family and no others - Lone parent households - with dependent children
31:One family and no others - Lone parent households - all children non-dependent
32:Other households - With dependent children
33:Other households - All students
34:Other households - All pensioner
35:Other households - Other
36:All households_y
37:Occupancy rating of -1 or less
38:With central heating
39:Without central heating
40:All categories: Tenure
41:Owned outright
42:Owned with a mortgage or loan
43:Shared ownership
44:Rented from council(local authority)
45:Rented from a housing association/registered social landlord
46:Rented from a private landlord or letting agency
47:Other
48:All household spaces - with residents
49:All household spaces - with no residents - vacant
50:All household spaces - with no residents - second residence/holiday accommodation
51:Whole house or bungalow - detatched
52:Whole house or bungalow - semi-detatched
53:Whole house or bungalow - terraced
54:Flat, maisonette or apartment - in a purpose built block of flats or tenement
55:Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)
56:Flat, maisonette or apartment - in a commercial building
57:All categories: Occupation
58:1. Managers and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Personal service occupations
64:7. Sales and customer service occupations
65:8. Process, plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2001
71:Level4_qual_2001
72:All_categories_NS_SeC_2001
73:X1_Higher_managerial_administrative_and_professional_occupations_2001
74:X2_Lower_managerial_administrative_and_professional_occupations_2001
75:X3_Intermediate_occupations_2001
76:X4_Small_employers_and_own_account_workers_2001
77:X5_Lower_supervisory_and_technical_occupations_2001
78:X6_Semi_routine_occupations_2001
79:X7_Routine_occupations_2001
80:X8_Never_worked_and_long_term_unemployed_2001
81:Not_classified_2001
82:pop_2001
83:Median_House_Prices_2001
84:Median_income_2001
85:Age 0 to 4_pct
86:Age 5 to 7_pct
87:Age 8 to 9_pct
88:Age 10 to 14_pct
89:Age 15_pct
90:Age 16 to 17_pct
91:Age 18 to 19_pct
92:Age 20 to 24_pct
93:Age 25 to 29_pct
94:Age 30 to 44_pct
95:Age 45 to 59_pct
96:Age 60 to 64_pct
97:Age 65 to 74_pct
98:Age 75 to 84_pct
99:Age 85 to 89_pct
100:Age 90 and over_pct
101:One person household - Pensioner_pct
102:One person household - Other_pct
103:One family and no others - All pensioners_pct
104:One family and no others - married couple households - no children_pct
105:One family and no others - married couple households - with dependent children_pct
106:One family and no others - married couple households - all children non-dependent_pct
107:One family and no others - cohabiting couple households - no children_pct
108:One family and no others - cohabiting couple households - with dependent children_pct
109:One family and no others - cohabiting couple households - all children non-dependent_pct
110:One family and no others - Lone parent households - with dependent children_pct
111:One family and no others - Lone parent households - all children non-dependent_pct
112:Other households - With dependent children_pct
113:Other households - All students_pct
114:Other households - All pensioner_pct
115:Other households - Other_pct
116:Occupancy rating of -1 or less_pct
117:With central heating_pct
118:Without central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned outright_pct
122:Owned with a mortgage or loan_pct
123:Shared ownership_pct
124:Rented from council(local authority)_pct
125:Rented from a housing association/registered social landlord_pct
126:Rented from a private landlord or letting agency_pct
127:Other_pct
128:All household spaces - with residents_pct
129:Household spaces with no usual residents_pct
130:Whole house or bungalow - detatched_pct
131:Whole house or bungalow - semi-detatched_pct
132:Whole house or bungalow - terraced_pct
133:Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct
134:Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct
135:Flat, maisonette or apartment - in a commercial building_pct
136:1. Managers and senior officials_pct
137:2. Professional occupations_pct
138:3. Associate professional and technical occupations_pct
139:4. Administrative and secretarial occupations_pct
140:5. Skilled trades occupations_pct
141:6. Personal service occupations_pct
142:7. Sales and customer service occupations_pct
143:8. Process, plant and machine operatives_pct
144:9. Elementary occupations_pct
145:Economically active_pct
146:Economically Inactive_pct
147:Level4_2001_pct
148:X1_Higher_managerial_administrative_and_professional_occupations_2001_pct
149:X2_Lower_managerial_administrative_and_professional_occupations_2001_pct
150:X3_Intermediate_occupations_2001_pct
151:X4_Small_employers_and_own_account_workers_2001_pct
152:X5_Lower_supervisory_and_technical_occupations_2001_pct
153:X6_Semi_routine_occupations_2001_pct
154:X7_Routine_occupations_2001_pct
155:X8_Never_worked_and_long_term_unemployed_2001_pct
156:Not_classified_2001_pct

In [29]:
# comparing column indexes of both datasets for consistency

for i in range(85,157):
    if main_01.columns[i] != main_11.columns[i]:
        print("To check: " + str(main_01.columns[i]) + " VS " + str(main_11.columns[i]))

To check: One person household - Pensioner_pct VS One person household: Aged 65 and over_pct
To check: One person household - Other_pct VS One person household: Other_pct
To check: One family and no others - All pensioners_pct VS One family only: All aged 65 and over_pct
To check: One family and no others - married couple households - no children_pct VS One family only: Married or same-sex civil partnership couple: No children_pct
To check: One family and no others - married couple households - with dependent children_pct VS One family only: Married or same-sex civil partnership couple: Dependent children_pct
To check: One family and no others - married couple households - all children non-dependent_pct VS One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
To check: One family and no others - cohabiting couple households - no children_pct VS One family only: Cohabiting couple: No children_pct
To check: One family and no others - cohabiting couple households - with dependent children_pct VS One family only: Cohabiting couple: Dependent children_pct
To check: One family and no others - cohabiting couple households - all children non-dependent_pct VS One family only: Cohabiting couple: All children non-dependent_pct
To check: One family and no others - Lone parent households - with dependent children_pct VS One family only: Lone parent: Dependent children_pct
To check: One family and no others - Lone parent households - all children non-dependent_pct VS One family only: Lone parent: All children non-dependent_pct
To check: Other households - With dependent children_pct VS Other household types: With dependent children_pct
To check: Other households - All students_pct VS Other household types: All full-time students_pct
To check: Other households - All pensioner_pct VS Other household types: All aged 65 and over_pct
To check: Other households - Other_pct VS Other household types: Other_pct
To check: Occupancy rating of -1 or less_pct VS Occupancy rating (rooms) of -1 or less_pct
To check: With central heating_pct VS Does have central heating_pct
To check: Without central heating_pct VS Does not have central heating_pct
To check: Owned outright_pct VS Owned: Owned outright_pct
To check: Owned with a mortgage or loan_pct VS Owned: Owned with a mortgage or loan_pct
To check: Shared ownership_pct VS Shared ownership (part owned and part rented)_pct
To check: Rented from council(local authority)_pct VS Social rented: Rented from council (Local Authority)_pct
To check: Rented from a housing association/registered social landlord_pct VS Social rented: Other_pct
To check: Rented from a private landlord or letting agency_pct VS Private rented: Private landlord or letting agency_pct
To check: Other_pct VS Private rented: Other_pct
To check: All household spaces - with residents_pct VS Household spaces with at least one usual resident_pct
To check: Whole house or bungalow - detatched_pct VS Whole house or bungalow: Detached_pct
To check: Whole house or bungalow - semi-detatched_pct VS Whole house or bungalow: Semi-detached_pct
To check: Whole house or bungalow - terraced_pct VS Whole house or bungalow: Terraced (including end-terrace)_pct
To check: Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct VS Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
To check: Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct VS Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
To check: Flat, maisonette or apartment - in a commercial building_pct VS Flat, maisonette or apartment: In a commercial building_pct
To check: 1. Managers and senior officials_pct VS 1. Managers, directors and senior officials_pct
To check: 6. Personal service occupations_pct VS 6. Caring, leisure and other service occupations_pct
To check: 8. Process, plant and machine operatives_pct VS 8. Process plant and machine operatives_pct
To check: Level4_2001_pct VS Level4_2011_pct
To check: X1_Higher_managerial_administrative_and_professional_occupations_2001_pct VS X1_Higher_managerial_administrative_and_professional_occupations_2011_pct
To check: X2_Lower_managerial_administrative_and_professional_occupations_2001_pct VS X2_Lower_managerial_administrative_and_professional_occupations_2011_pct
To check: X3_Intermediate_occupations_2001_pct VS X3_Intermediate_occupations_2011_pct
To check: X4_Small_employers_and_own_account_workers_2001_pct VS X4_Small_employers_and_own_account_workers_2011_pct
To check: X5_Lower_supervisory_and_technical_occupations_2001_pct VS X5_Lower_supervisory_and_technical_occupations_2011_pct
To check: X6_Semi_routine_occupations_2001_pct VS X6_Semi_routine_occupations_2011_pct
To check: X7_Routine_occupations_2001_pct VS X7_Routine_occupations_2011_pct
To check: X8_Never_worked_and_long_term_unemployed_2001_pct VS X8_Never_worked_and_long_term_unemployed_2011_pct
To check: Not_classified_2001_pct VS Not_classified_2011_pct

In [30]:
# create a new dataframe 'change_var_df' to capture all change variables (changes between 2001 vs 2011 data), by working off main_01 as the base

change_var_df = main_01

In [31]:
# keep only LSOA identifiers

change_var_df = change_var_df.drop(columns=change_var_df.columns[3:157])

In [32]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name
0,E01000001,City of London 001A,City of London
1,E01000002,City of London 001B,City of London
2,E01000003,City of London 001C,City of London
3,E01000005,City of London 001E,City of London
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham

In [33]:
# compute the differences between pct variables of 2001 & 2011 datasets

# first, extract the variables which have yet to be standardised
array1=[82,83,84,119,120]

# for standardised pct variables, use a for loop to calculate their relative differences and populate change_var_df
for i in range(82,157):
    if i not in array1:
        change_var_df[str(main_11.columns[i])] = main_11[str(main_11.columns[i])] - main_01[str(main_01.columns[i])]  
    else:
        continue

In [34]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,Age 15_pct,Age 16 to 17_pct,Age 18 to 19_pct,...,Level4_2011_pct,X1_Higher_managerial_administrative_and_professional_occupations_2011_pct,X2_Lower_managerial_administrative_and_professional_occupations_2011_pct,X3_Intermediate_occupations_2011_pct,X4_Small_employers_and_own_account_workers_2011_pct,X5_Lower_supervisory_and_technical_occupations_2011_pct,X6_Semi_routine_occupations_2011_pct,X7_Routine_occupations_2011_pct,X8_Never_worked_and_long_term_unemployed_2011_pct,Not_classified_2011_pct
0,E01000001,City of London 001A,City of London,0.97,0.55,0.34,-0.17,0.22,-0.40,-0.65,...,5.243539,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,0.25,-14.46
1,E01000002,City of London 001B,City of London,0.91,1.14,-0.38,-0.29,0.29,0.36,0.16,...,10.837223,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,-0.11,-10.35
2,E01000003,City of London 001C,City of London,-0.09,-0.85,-0.71,0.67,0.04,0.82,0.12,...,6.518597,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,2.36,-11.29
3,E01000005,City of London 001E,City of London,-2.92,0.13,-0.66,-1.83,-0.17,-0.78,-0.04,...,3.146436,0.24,4.69,0.92,3.20,2.14,1.67,2.64,-0.69,-14.82
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1.72,1.53,-0.10,-0.37,-0.40,-0.55,-1.17,...,10.425898,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,5.13,-8.21

In [35]:
# compute the percentage change of non-standardised variables (difference between 2001 & 2011 figures divided by 2001 figure multiplied by 100)

# population
change_var_df["pop_chg"] = (main_11["pop_2011"] - main_01["pop_2001"]) / main_01["pop_2001"]*100

# median housing price
change_var_df["Median_House_Prices_chg"] = (main_11["Median_House_Prices_2011"] - main_01["Median_House_Prices_2001"]) / main_01["Median_House_Prices_2001"]*100

# median housing price
change_var_df["Median_income_chg"] = (main_11["Median_income_2011"] - main_01["Median_income_2001"]) / main_01["Median_income_2001"]*100

# compute the change of avg household and rooms per household variables (difference between 2001 & 2011 figures)

# Average household size
change_var_df["Average_household_size_chg"] = main_11["Average household size"] - main_01["Average household size"]

# Average number of rooms per household
change_var_df["Average_number_of_rooms_chg"] = main_11["Average number of rooms per household"] - main_01["Average number of rooms per household"]

In [36]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,Age 15_pct,Age 16 to 17_pct,Age 18 to 19_pct,...,X5_Lower_supervisory_and_technical_occupations_2011_pct,X6_Semi_routine_occupations_2011_pct,X7_Routine_occupations_2011_pct,X8_Never_worked_and_long_term_unemployed_2011_pct,Not_classified_2011_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg
0,E01000001,City of London 001A,City of London,0.97,0.55,0.34,-0.17,0.22,-0.40,-0.65,...,0.14,0.58,-0.11,0.25,-14.46,-8.437500,102.506682,43.589744,-0.3,-0.4
1,E01000002,City of London 001B,City of London,0.91,1.14,-0.38,-0.29,0.29,0.36,0.16,...,0.30,-0.77,0.27,-0.11,-10.35,-2.312925,125.000000,47.431621,-0.3,-0.2
2,E01000003,City of London 001C,City of London,-0.09,-0.85,-0.71,0.67,0.04,0.82,0.12,...,-0.03,-0.39,1.37,2.36,-11.29,-12.426805,76.315789,49.022846,-0.5,-0.2
3,E01000005,City of London 001E,City of London,-2.92,0.13,-0.66,-1.83,-0.17,-0.78,-0.04,...,2.14,1.67,2.64,-0.69,-14.82,-8.201305,118.181818,48.239772,0.1,0.3
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1.72,1.53,-0.10,-0.37,-0.40,-0.55,-1.17,...,-1.49,0.55,0.88,5.13,-8.21,8.402292,287.500000,44.916540,0.1,0.1

In [37]:
list(change_var_df.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer',
 'Local_authority_name',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'Other household types: All full-time students_pct',
 'Other household types: All aged 65 and over_pct',
 'Other household types: Other_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Does not have central heating_pct',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct',
 'pop_chg',
 'Median_House_Prices_chg',
 'Median_income_chg',
 'Average_household_size_chg',
 'Average_number_of_rooms_chg']

In [38]:
# rename feature columns accordingly

change_var_df = change_var_df.rename(columns={'Level4_2011_pct':"Level4_pct",
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct':"X1_Higher_managerial_administrative_and_professional_occupations_pct",
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct': "X2_Lower_managerial_administrative_and_professional_occupations_pct",
 'X3_Intermediate_occupations_2011_pct':"X3_Intermediate_occupations_pct",
 'X4_Small_employers_and_own_account_workers_2011_pct':'X4_Small_employers_and_own_account_workers_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct':"X5_Lower_supervisory_and_technical_occupations_pct",
 'X6_Semi_routine_occupations_2011_pct':"X6_Semi_routine_occupations_pct",
 'X7_Routine_occupations_2011_pct':"X7_Routine_occupations_pct",
 'X8_Never_worked_and_long_term_unemployed_2011_pct':"X8_Never_worked_and_long_term_unemployed_pct",
 'Not_classified_2011_pct':"Not_classified_pct",})

In [39]:
# checkpoint - outputfiles

# change_var_df.to_csv("change_var.csv")
# main_01.to_csv("main_01_cleaned.csv")
# main_11.to_csv("main_11_cleaned.csv")

## Merge Change Variables Dataframe with UDD Dataset

In [40]:
# checkpoint - reload the change variable dataframe
# change_var_df = pd.read_csv("change_var_df_all.csv").drop(columns = ["Unnamed: 0"])

# read in UDD data
UDD_df = pd.read_csv("udd_joined_normalised.csv")

In [41]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,Age 15_pct,Age 16 to 17_pct,Age 18 to 19_pct,...,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,X8_Never_worked_and_long_term_unemployed_pct,Not_classified_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg
0,E01000001,City of London 001A,City of London,0.97,0.55,0.34,-0.17,0.22,-0.40,-0.65,...,0.14,0.58,-0.11,0.25,-14.46,-8.437500,102.506682,43.589744,-0.3,-0.4
1,E01000002,City of London 001B,City of London,0.91,1.14,-0.38,-0.29,0.29,0.36,0.16,...,0.30,-0.77,0.27,-0.11,-10.35,-2.312925,125.000000,47.431621,-0.3,-0.2
2,E01000003,City of London 001C,City of London,-0.09,-0.85,-0.71,0.67,0.04,0.82,0.12,...,-0.03,-0.39,1.37,2.36,-11.29,-12.426805,76.315789,49.022846,-0.5,-0.2
3,E01000005,City of London 001E,City of London,-2.92,0.13,-0.66,-1.83,-0.17,-0.78,-0.04,...,2.14,1.67,2.64,-0.69,-14.82,-8.201305,118.181818,48.239772,0.1,0.3
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1.72,1.53,-0.10,-0.37,-0.40,-0.55,-1.17,...,-1.49,0.55,0.88,5.13,-8.21,8.402292,287.500000,44.916540,0.1,0.1

In [42]:
UDD_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,dwellings_2001,dwellings_2006,conversion_counts,conversion_rates,newbuilt_counts,newbuilt_rates
0,E01000001,City of London 001A,1128,1049,1,0.953289,0,0.000000
1,E01000002,City of London 001B,1047,947,1,1.055966,2,2.111932
2,E01000003,City of London 001C,932,914,0,0.000000,0,0.000000
3,E01000005,City of London 001E,575,575,0,0.000000,5,8.695652
4,E01000006,Barking and Dagenham 016A,624,539,2,3.710575,1,1.855288

In [43]:
# merge both datasets

cluster_prep_df = change_var_df.merge(UDD_df[["2011 census lower super output areas","conversion_rates","newbuilt_rates"]], left_on = "2011 census lower super output areas", right_on="2011 census lower super output areas", how = "left")

In [44]:
cluster_prep_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,Age 15_pct,Age 16 to 17_pct,Age 18 to 19_pct,...,X7_Routine_occupations_pct,X8_Never_worked_and_long_term_unemployed_pct,Not_classified_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg,conversion_rates,newbuilt_rates
0,E01000001,City of London 001A,City of London,0.97,0.55,0.34,-0.17,0.22,-0.40,-0.65,...,-0.11,0.25,-14.46,-8.437500,102.506682,43.589744,-0.3,-0.4,0.953289,0.000000
1,E01000002,City of London 001B,City of London,0.91,1.14,-0.38,-0.29,0.29,0.36,0.16,...,0.27,-0.11,-10.35,-2.312925,125.000000,47.431621,-0.3,-0.2,1.055966,2.111932
2,E01000003,City of London 001C,City of London,-0.09,-0.85,-0.71,0.67,0.04,0.82,0.12,...,1.37,2.36,-11.29,-12.426805,76.315789,49.022846,-0.5,-0.2,0.000000,0.000000
3,E01000005,City of London 001E,City of London,-2.92,0.13,-0.66,-1.83,-0.17,-0.78,-0.04,...,2.64,-0.69,-14.82,-8.201305,118.181818,48.239772,0.1,0.3,0.000000,8.695652
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1.72,1.53,-0.10,-0.37,-0.40,-0.55,-1.17,...,0.88,5.13,-8.21,8.402292,287.500000,44.916540,0.1,0.1,3.710575,1.855288

## Merge Dataframe with Population Churn Dataset

In [45]:
# read in population churn data

churn_data = pd.read_csv('CDRC Population Churn_LON.csv')

In [46]:
# merge both datasets

cluster_prep_df = cluster_prep_df.merge(churn_data[["LSOA11CD","avg_churn_01_10"]], left_on = "2011 census lower super output areas", right_on="LSOA11CD", how = "left")

In [47]:
# drop duplicate features

cluster_prep_df = cluster_prep_df.drop(columns="LSOA11CD")

In [48]:
# checkpoint - output this file
# cluster_prep_df.to_csv("change_var_UDD_churn.csv")

## Segment Dataframe into 2 Sets - one for clustering ascending LSOAs and the other for clustering gentrfying LSOAs

### Inputs for Clustering Ascending LSOAs

In [49]:
# Data required for clustering ascending LSOAs include:
# population change variables
# demographic change variables
# urban development variables
# ageing LSOA (2001) status variable

In [50]:
# get the enumerated list of features in dataframe

for i in range(len(cluster_prep_df.columns)):
    print(str(i) + ": " + str(cluster_prep_df.columns[i]))

0: 2011 census lower super output areas
1: 2011 super output area - lower layer
2: Local_authority_name
3: Age 0 to 4_pct
4: Age 5 to 7_pct
5: Age 8 to 9_pct
6: Age 10 to 14_pct
7: Age 15_pct
8: Age 16 to 17_pct
9: Age 18 to 19_pct
10: Age 20 to 24_pct
11: Age 25 to 29_pct
12: Age 30 to 44_pct
13: Age 45 to 59_pct
14: Age 60 to 64_pct
15: Age 65 to 74_pct
16: Age 75 to 84_pct
17: Age 85 to 89_pct
18: Age 90 and over_pct
19: One person household: Aged 65 and over_pct
20: One person household: Other_pct
21: One family only: All aged 65 and over_pct
22: One family only: Married or same-sex civil partnership couple: No children_pct
23: One family only: Married or same-sex civil partnership couple: Dependent children_pct
24: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
25: One family only: Cohabiting couple: No children_pct
26: One family only: Cohabiting couple: Dependent children_pct
27: One family only: Cohabiting couple: All children non-dependent_pct
28: One family only: Lone parent: Dependent children_pct
29: One family only: Lone parent: All children non-dependent_pct
30: Other household types: With dependent children_pct
31: Other household types: All full-time students_pct
32: Other household types: All aged 65 and over_pct
33: Other household types: Other_pct
34: Occupancy rating (rooms) of -1 or less_pct
35: Does have central heating_pct
36: Does not have central heating_pct
37: Owned: Owned outright_pct
38: Owned: Owned with a mortgage or loan_pct
39: Shared ownership (part owned and part rented)_pct
40: Social rented: Rented from council (Local Authority)_pct
41: Social rented: Other_pct
42: Private rented: Private landlord or letting agency_pct
43: Private rented: Other_pct
44: Household spaces with at least one usual resident_pct
45: Household spaces with no usual residents_pct
46: Whole house or bungalow: Detached_pct
47: Whole house or bungalow: Semi-detached_pct
48: Whole house or bungalow: Terraced (including end-terrace)_pct
49: Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
50: Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
51: Flat, maisonette or apartment: In a commercial building_pct
52: 1. Managers, directors and senior officials_pct
53: 2. Professional occupations_pct
54: 3. Associate professional and technical occupations_pct
55: 4. Administrative and secretarial occupations_pct
56: 5. Skilled trades occupations_pct
57: 6. Caring, leisure and other service occupations_pct
58: 7. Sales and customer service occupations_pct
59: 8. Process plant and machine operatives_pct
60: 9. Elementary occupations_pct
61: Economically active_pct
62: Economically Inactive_pct
63: Level4_pct
64: X1_Higher_managerial_administrative_and_professional_occupations_pct
65: X2_Lower_managerial_administrative_and_professional_occupations_pct
66: X3_Intermediate_occupations_pct
67: X4_Small_employers_and_own_account_workers_pct
68: X5_Lower_supervisory_and_technical_occupations_pct
69: X6_Semi_routine_occupations_pct
70: X7_Routine_occupations_pct
71: X8_Never_worked_and_long_term_unemployed_pct
72: Not_classified_pct
73: pop_chg
74: Median_House_Prices_chg
75: Median_income_chg
76: Average_household_size_chg
77: Average_number_of_rooms_chg
78: conversion_rates
79: newbuilt_rates
80: avg_churn_01_10

In [51]:
import numpy as np

# selecting relevant column numbers for clustering ascending LSOAs
var1 = 0
var2 = range(3,33)
var3 = range(78,81)

array_cluster_1 = np.concatenate((var1,var2,var3), axis=None)

In [52]:
# appending relevant features into new dataframe 'cluster_1' meant as inputs for undertaking the clustering of ascending LSOAs

cluster_1 = pd.DataFrame()

for i in array_cluster_1:
    cluster_1[str(cluster_prep_df.columns[i])] = cluster_prep_df[cluster_prep_df.columns[i]]

In [53]:
# verify the features

for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: Age 0 to 4_pct
2: Age 5 to 7_pct
3: Age 8 to 9_pct
4: Age 10 to 14_pct
5: Age 15_pct
6: Age 16 to 17_pct
7: Age 18 to 19_pct
8: Age 20 to 24_pct
9: Age 25 to 29_pct
10: Age 30 to 44_pct
11: Age 45 to 59_pct
12: Age 60 to 64_pct
13: Age 65 to 74_pct
14: Age 75 to 84_pct
15: Age 85 to 89_pct
16: Age 90 and over_pct
17: One person household: Aged 65 and over_pct
18: One person household: Other_pct
19: One family only: All aged 65 and over_pct
20: One family only: Married or same-sex civil partnership couple: No children_pct
21: One family only: Married or same-sex civil partnership couple: Dependent children_pct
22: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
23: One family only: Cohabiting couple: No children_pct
24: One family only: Cohabiting couple: Dependent children_pct
25: One family only: Cohabiting couple: All children non-dependent_pct
26: One family only: Lone parent: Dependent children_pct
27: One family only: Lone parent: All children non-dependent_pct
28: Other household types: With dependent children_pct
29: Other household types: All full-time students_pct
30: Other household types: All aged 65 and over_pct
31: conversion_rates
32: newbuilt_rates
33: avg_churn_01_10

In [54]:
# aggregating demographic groups into smaller, useful categories -> proportion of residents above and under 65 years old

cluster_1["youngPop_chg"] = cluster_1[cluster_1.columns[1:13]].sum(axis=1)
cluster_1["agePop_chg"] = cluster_1[cluster_1.columns[13:17]].sum(axis=1)

In [55]:
# dropping columns which have been aggregated

cluster_1 = cluster_1.drop(cluster_1.columns[1:17], axis=1)

In [56]:
# check dataframe

for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: One person household: Aged 65 and over_pct
2: One person household: Other_pct
3: One family only: All aged 65 and over_pct
4: One family only: Married or same-sex civil partnership couple: No children_pct
5: One family only: Married or same-sex civil partnership couple: Dependent children_pct
6: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
7: One family only: Cohabiting couple: No children_pct
8: One family only: Cohabiting couple: Dependent children_pct
9: One family only: Cohabiting couple: All children non-dependent_pct
10: One family only: Lone parent: Dependent children_pct
11: One family only: Lone parent: All children non-dependent_pct
12: Other household types: With dependent children_pct
13: Other household types: All full-time students_pct
14: Other household types: All aged 65 and over_pct
15: conversion_rates
16: newbuilt_rates
17: avg_churn_01_10
18: youngPop_chg
19: agePop_chg

In [57]:
# aggregating household composition into smaller, useful categories -> ageing households, family with / without dependent kids, no kids, etc.

cluster_1["hse_age_chg"] = cluster_1["One person household: Aged 65 and over_pct"] + cluster_1["Other household types: All aged 65 and over_pct"]
cluster_1["hse_noKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: No children_pct"] + cluster_1["One family only: Cohabiting couple: No children_pct"]
cluster_1["hse_depKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: Dependent children_pct"] + cluster_1["One family only: Cohabiting couple: Dependent children_pct"] + cluster_1["One family only: Lone parent: Dependent children_pct"] + cluster_1["Other household types: With dependent children_pct"]
cluster_1["hse_noDepKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: All children non-dependent_pct"] + cluster_1["One family only: Cohabiting couple: All children non-dependent_pct"] + cluster_1["One family only: Lone parent: All children non-dependent_pct"]

In [58]:
# dropping columns which have been aggregated

cluster_1 = cluster_1.drop(cluster_1.columns[1:15], axis=1)

In [59]:
for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: conversion_rates
2: newbuilt_rates
3: avg_churn_01_10
4: youngPop_chg
5: agePop_chg
6: hse_age_chg
7: hse_noKids_chg
8: hse_depKids_chg
9: hse_noDepKids_chg

In [60]:
# aggregating ageing population % and putting result under a new column in the cluster_1 dataset

cluster_1["agePop_01"] = main_01["Age 65 to 74_pct"] + main_01["Age 75 to 84_pct"] + main_01["Age 85 to 89_pct"] + main_01["Age 90 and over_pct"]

In [61]:
cluster_1.head()

,2011 census lower super output areas,conversion_rates,newbuilt_rates,avg_churn_01_10,youngPop_chg,agePop_chg,hse_age_chg,hse_noKids_chg,hse_depKids_chg,hse_noDepKids_chg,agePop_01
0,E01000001,0.953289,0.000000,2.275180,-3.53,3.56,0.13,3.85,2.00,1.42,14.74
1,E01000002,1.055966,2.111932,2.284483,-5.57,5.60,1.29,7.84,3.61,0.06,13.13
2,E01000003,0.000000,0.000000,2.934233,1.21,-1.24,-3.20,2.60,-1.65,-0.79,20.11
3,E01000005,0.000000,8.695652,2.599725,-0.03,0.04,-3.28,-0.56,-4.30,1.75,12.86
4,E01000006,3.710575,1.855288,2.146893,2.23,-2.26,-2.07,-2.84,6.08,2.08,10.06

In [62]:
# rename features

cluster_1 = cluster_1.rename(columns={
    "2011 census lower super output areas":"LSOA11CD",
    "conversion_rates":"conv_rates",
    "newbuilt_rates": "newblt_rates"})

In [63]:
# checkpoint - output file
# cluster_1.to_csv("cluster_1_data.csv")

### Inputs for Clustering Ascending LSOAs

In [64]:
# # Data required for clustering gentrifying LSOAs include:
# socio-economic change variables
# housing price change variables
# tenure change variables
# median income (2001) status variable
# median house price (2001) status variable

In [65]:
# again, obtain the enumerated list of variables

for i in range(len(cluster_prep_df.columns)):
    print(str(i) + ": " + str(cluster_prep_df.columns[i]))

0: 2011 census lower super output areas
1: 2011 super output area - lower layer
2: Local_authority_name
3: Age 0 to 4_pct
4: Age 5 to 7_pct
5: Age 8 to 9_pct
6: Age 10 to 14_pct
7: Age 15_pct
8: Age 16 to 17_pct
9: Age 18 to 19_pct
10: Age 20 to 24_pct
11: Age 25 to 29_pct
12: Age 30 to 44_pct
13: Age 45 to 59_pct
14: Age 60 to 64_pct
15: Age 65 to 74_pct
16: Age 75 to 84_pct
17: Age 85 to 89_pct
18: Age 90 and over_pct
19: One person household: Aged 65 and over_pct
20: One person household: Other_pct
21: One family only: All aged 65 and over_pct
22: One family only: Married or same-sex civil partnership couple: No children_pct
23: One family only: Married or same-sex civil partnership couple: Dependent children_pct
24: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
25: One family only: Cohabiting couple: No children_pct
26: One family only: Cohabiting couple: Dependent children_pct
27: One family only: Cohabiting couple: All children non-dependent_pct
28: One family only: Lone parent: Dependent children_pct
29: One family only: Lone parent: All children non-dependent_pct
30: Other household types: With dependent children_pct
31: Other household types: All full-time students_pct
32: Other household types: All aged 65 and over_pct
33: Other household types: Other_pct
34: Occupancy rating (rooms) of -1 or less_pct
35: Does have central heating_pct
36: Does not have central heating_pct
37: Owned: Owned outright_pct
38: Owned: Owned with a mortgage or loan_pct
39: Shared ownership (part owned and part rented)_pct
40: Social rented: Rented from council (Local Authority)_pct
41: Social rented: Other_pct
42: Private rented: Private landlord or letting agency_pct
43: Private rented: Other_pct
44: Household spaces with at least one usual resident_pct
45: Household spaces with no usual residents_pct
46: Whole house or bungalow: Detached_pct
47: Whole house or bungalow: Semi-detached_pct
48: Whole house or bungalow: Terraced (including end-terrace)_pct
49: Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
50: Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
51: Flat, maisonette or apartment: In a commercial building_pct
52: 1. Managers, directors and senior officials_pct
53: 2. Professional occupations_pct
54: 3. Associate professional and technical occupations_pct
55: 4. Administrative and secretarial occupations_pct
56: 5. Skilled trades occupations_pct
57: 6. Caring, leisure and other service occupations_pct
58: 7. Sales and customer service occupations_pct
59: 8. Process plant and machine operatives_pct
60: 9. Elementary occupations_pct
61: Economically active_pct
62: Economically Inactive_pct
63: Level4_pct
64: X1_Higher_managerial_administrative_and_professional_occupations_pct
65: X2_Lower_managerial_administrative_and_professional_occupations_pct
66: X3_Intermediate_occupations_pct
67: X4_Small_employers_and_own_account_workers_pct
68: X5_Lower_supervisory_and_technical_occupations_pct
69: X6_Semi_routine_occupations_pct
70: X7_Routine_occupations_pct
71: X8_Never_worked_and_long_term_unemployed_pct
72: Not_classified_pct
73: pop_chg
74: Median_House_Prices_chg
75: Median_income_chg
76: Average_household_size_chg
77: Average_number_of_rooms_chg
78: conversion_rates
79: newbuilt_rates
80: avg_churn_01_10

In [66]:
import numpy as np

#selecting relevant column numbers for level 2 clustering
var5 = 0
var6 = range(37,44)
var7 = range(64,71)
var8 = 74,75

array_cluster_2 = np.concatenate((var5,var6,var7,var8), axis=None)

In [67]:
# appending relevant features into new dataframe 'cluster_2' meant as inputs for undertaking the clustering of gentrifying LSOAs

cluster_2 = pd.DataFrame()

for i in array_cluster_2:
    cluster_2[str(cluster_prep_df.columns[i])] = cluster_prep_df[cluster_prep_df.columns[i]]

In [68]:
for i in range(len(cluster_2.columns)):
    print(str(i) + ": " + str(cluster_2.columns[i]))

0: 2011 census lower super output areas
1: Owned: Owned outright_pct
2: Owned: Owned with a mortgage or loan_pct
3: Shared ownership (part owned and part rented)_pct
4: Social rented: Rented from council (Local Authority)_pct
5: Social rented: Other_pct
6: Private rented: Private landlord or letting agency_pct
7: Private rented: Other_pct
8: X1_Higher_managerial_administrative_and_professional_occupations_pct
9: X2_Lower_managerial_administrative_and_professional_occupations_pct
10: X3_Intermediate_occupations_pct
11: X4_Small_employers_and_own_account_workers_pct
12: X5_Lower_supervisory_and_technical_occupations_pct
13: X6_Semi_routine_occupations_pct
14: X7_Routine_occupations_pct
15: Median_House_Prices_chg
16: Median_income_chg

In [69]:
cluster_2.head()

,2011 census lower super output areas,Owned: Owned outright_pct,Owned: Owned with a mortgage or loan_pct,Shared ownership (part owned and part rented)_pct,Social rented: Rented from council (Local Authority)_pct,Social rented: Other_pct,Private rented: Private landlord or letting agency_pct,Private rented: Other_pct,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg
0,E01000001,-0.14,-9.45,0.34,-1.38,0.91,8.72,-3.00,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,102.506682,43.589744
1,E01000002,-2.97,-5.99,0.31,-3.31,0.05,11.90,-3.38,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,125.000000,47.431621
2,E01000003,4.41,-4.72,0.12,-6.53,1.41,6.32,-3.09,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,76.315789,49.022846
3,E01000005,2.17,-1.04,0.00,-0.83,-4.16,5.41,-3.26,0.24,4.69,0.92,3.20,2.14,1.67,2.64,118.181818,48.239772
4,E01000006,-2.92,-9.42,-1.29,-7.46,0.00,20.05,0.67,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,287.500000,44.916540

In [70]:
# aggregating detailed tenure groups into simplified categories

cluster_2["owned_chg"] = cluster_2["Owned: Owned outright_pct"] + cluster_2["Owned: Owned with a mortgage or loan_pct"]
cluster_2["socRent_chg"] = cluster_2["Social rented: Rented from council (Local Authority)_pct"] + cluster_2["Social rented: Other_pct"]
cluster_2["pteRent_chg"] = cluster_2["Private rented: Private landlord or letting agency_pct"] + cluster_2["Private rented: Other_pct"]

In [71]:
# dropping columns which have been aggregated

cluster_2 = cluster_2.drop(cluster_2.columns[1:8], axis=1)

In [72]:
cluster_2.head()

,2011 census lower super output areas,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg,owned_chg,socRent_chg,pteRent_chg
0,E01000001,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,102.506682,43.589744,-9.59,-0.47,5.72
1,E01000002,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,125.000000,47.431621,-8.96,-3.26,8.52
2,E01000003,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,76.315789,49.022846,-0.31,-5.12,3.23
3,E01000005,0.24,4.69,0.92,3.20,2.14,1.67,2.64,118.181818,48.239772,1.13,-4.99,2.15
4,E01000006,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,287.500000,44.916540,-12.34,-7.46,20.72

In [73]:
# for status variables - need to obtain from earlier main_01 dataset
# also, divding the figures by 1000 as they are very large

cluster_2["inc_01"]=main_01["Median_income_2001"]/1000
cluster_2["hseP_01"]=main_01["Median_House_Prices_2001"]/1000

In [74]:
cluster_2.head()

,2011 census lower super output areas,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg,owned_chg,socRent_chg,pteRent_chg,inc_01,hseP_01
0,E01000001,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,102.506682,43.589744,-9.59,-0.47,5.72,45.63,245.424
1,E01000002,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,125.000000,47.431621,-8.96,-3.26,8.52,44.97,235.000
2,E01000003,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,76.315789,49.022846,-0.31,-5.12,3.23,36.33,190.000
3,E01000005,0.24,4.69,0.92,3.20,2.14,1.67,2.64,118.181818,48.239772,1.13,-4.99,2.15,31.53,137.500
4,E01000006,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,287.500000,44.916540,-12.34,-7.46,20.72,26.36,60.000

In [75]:
# rename features

cluster_2 = cluster_2.rename(columns={
    "2011 census lower super output areas":"LSOA11CD",
    "X1_Higher_managerial_administrative_and_professional_occupations_pct": "SEC1_chg",
    "X2_Lower_managerial_administrative_and_professional_occupations_pct": "SEC2_chg",
    "X3_Intermediate_occupations_pct": "SEC3_chg",
    "X4_Small_employers_and_own_account_workers_pct": "SEC4_chg",
    "X5_Lower_supervisory_and_technical_occupations_pct": "SEC5_chg",
    "X6_Semi_routine_occupations_pct": "SEC6_chg",
    "X7_Routine_occupations_pct":"SEC7_chg",
    "Median_House_Prices_chg": "hseP_chg",
    "Median_income_chg": "inc_chg"
})

In [78]:
cluster_2.head()

,LSOA11CD,SEC1_chg,SEC2_chg,SEC3_chg,SEC4_chg,SEC5_chg,SEC6_chg,SEC7_chg,hseP_chg,inc_chg,owned_chg,socRent_chg,pteRent_chg,inc_01,hseP_01
0,E01000001,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,102.506682,43.589744,-9.59,-0.47,5.72,45.63,245.424
1,E01000002,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,125.000000,47.431621,-8.96,-3.26,8.52,44.97,235.000
2,E01000003,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,76.315789,49.022846,-0.31,-5.12,3.23,36.33,190.000
3,E01000005,0.24,4.69,0.92,3.20,2.14,1.67,2.64,118.181818,48.239772,1.13,-4.99,2.15,31.53,137.500
4,E01000006,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,287.500000,44.916540,-12.34,-7.46,20.72,26.36,60.000

In [79]:
# checkpoint - outputfile

# cluster_2.to_csv("cluster_2_data.csv")