In [1]:
import pandas as pd

In [2]:
# read in relevant datasets

main_01 = pd.read_csv("main_01_cleaned_ml.csv")
main_11 = pd.read_csv("main_11_cleaned_ml.csv")

In [3]:
main_01.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Pop_2001,Median_House_Prices_2001,Median_income_2001,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,...,No cars or vans in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Pop Density 2001,dwellings_2001,Median House Price-2010,House_sales_pct,avg_churn_01_10
0,E01000001,City of London 001A,City of London,1600.0,245424,45630,2.44,0.75,0.62,1.94,...,51.057402,42.094663,4.833837,0.805639,1.208459,123.076923,1128,499475.0,5.390071,2.275180
1,E01000002,City of London 001B,City of London,1470.0,235000,44970,3.27,1.16,1.29,2.38,...,51.879699,40.064447,6.766917,0.966702,0.322234,63.913043,1047,523750.0,4.928367,2.284483
2,E01000003,City of London 001C,City of London,1537.0,190000,36330,4.03,1.89,1.30,1.11,...,75.444444,22.555556,2.000000,0.000000,0.000000,256.166667,932,306000.0,4.055794,2.934233
3,E01000005,City of London 001E,City of London,1073.0,137500,31530,7.18,3.73,2.89,6.80,...,74.074074,23.518519,1.851852,0.000000,0.555556,56.473684,575,240000.0,1.443478,2.599725
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1571.0,60000,26360,7.32,2.93,2.80,6.24,...,33.333333,51.121795,13.621795,1.442308,0.480769,104.733333,624,241500.0,4.903846,2.146893

In [4]:
main_11.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Pop_2011,Median_House_Prices_2011,Median_income_2011,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,...,On foot_pct,Other method of travel to work_pct,Density (number of persons per hectare),No qualifications,Highest level of qualification: Level 1 qualifications,Highest level of qualification: Level 2 qualifications,Highest level of qualification: Level 3 qualifications,Highest level of qualification: Level 4 qualifications and above,Highest level of qualification: Other qualifications,avg_churn_11_16
0,E01000001,City of London 001A,City of London,1465,497000,65520,3.41,1.30,0.96,1.77,...,35.626536,0.737101,112.9,1.9,2.6,5.6,7.0,77.6,5.0,5.980216
1,E01000002,City of London 001B,City of London,1436,528750,66300,4.18,2.30,0.91,2.09,...,33.695652,0.836120,62.9,2.3,3.2,5.5,7.0,79.2,2.4,6.106322
2,E01000003,City of London 001C,City of London,1346,335000,54140,3.94,1.04,0.59,1.78,...,28.765880,0.816697,227.7,13.0,6.5,8.9,7.5,56.8,5.7,5.059022
3,E01000005,City of London 001E,City of London,985,300000,46740,4.26,3.86,2.23,4.97,...,20.181113,0.129366,52.0,24.4,8.2,11.2,9.5,34.5,11.4,5.937643
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1703,232500,38200,9.04,4.46,2.70,5.87,...,4.716227,0.159872,116.2,18.2,11.8,12.9,8.8,32.9,13.8,5.273070

### Prep 2001 Datasets

In [5]:
# print feature column names

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'Pop_2001',
 'Median_House_Prices_2001',
 'Median_income_2001',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'United Kingdom',
 'Republic of Ireland',
 'EU countries',
 'Rest of Europe',
 'Africa',
 'Asia',
 'North America',
 'South America',
 'Oceania',
 'White',
 'Mixed',
 'Asian/Asian British',
 'Black/Black British',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Other religion',
 'No religion',
 'Religion not stated',
 'Males - Part-time -Less than 15 hrs',
 'Males - Part-time - 16 to 30 hours',
 'Males - Full-time - 31 to 48 hours',
 'Males - Full-time - 49 or more hours',
 'Females - Part-time - Less than 15 hours',
 'Females - Part-time - 16 to 30 hours',
 'Females - Full-time - 31 to 48 hours',
 'Females - Full-time - 49 or more hours',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home',
 'Underground, metro, light rail, tram',
 'Train',
 'Bus, minibus or coach',
 'Motorcycle, scooter or moped',
 'Driving a car or van',
 'Passenger in a car or van',
 'Taxi or minicab',
 'Bicycle',
 'On foot',
 'Other',
 'No cars or vans in household',
 '1 car or van in household',
 '2 cars or vans in household',
 '3 cars or vans in household',
 '4 or more cars or vans in household',
 'Pop Density 2001',
 'dwellings_2001',
 'Median House Price-2010',
 'House_sales_pct',
 'avg_churn_01_10']

In [6]:
# print feature column names

list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'Pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'Other household types: All full-time students_pct',
 'Other household types: All aged 65 and over_pct',
 'Other household types: Other_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct',
 'No cars or vans in household_pct',
 '1 car or van in household_pct',
 '2 cars or vans in household_pct',
 '3 cars or vans in household_pct',
 '4 or more cars or vans in household_pct',
 'Europe: United Kingdom: Total',
 'Europe: Ireland',
 'Europe: Other Europe: EU Countries: Total',
 'Europe: Other Europe: Rest of Europe: Total',
 'Africa: Total',
 'Middle East and Asia: Total',
 'The Americas and the Caribbean: North America and The Caribbeans: Total',
 'The Americas and the Caribbean: South America',
 'Antarctica and Oceania: Total',
 'White_pct',
 'Mixed/multiple ethnic groups_pct',
 'Asian/Asian British_pct',
 'Black/African/Caribbean/Black British_pct',
 'dwellings_2011',
 'Median House Price 2016',
 'House_sales_pct',
 'Christian_pct',
 'Buddhist_pct',
 'Hindu_pct',
 'Jewish_pct',
 'Muslim_pct',
 'Sikh_pct',
 'Other religion_pct',
 'No religion_pct',
 'Religion not stated_pct',
 'Males: Part-time: 15 hours or less worked',
 'Males: Part-time: 16 to 30 hours worked',
 'Males: Full-time: 31 to 48 hours worked',
 'Males: Full-time: 49 or more hours worked',
 'Females: Part-time: 15 hours or less worked',
 'Females: Part-time: 16 to 30 hours worked',
 'Females: Full-time: 31 to 48 hours worked',
 'Females: Full-time: 49 or more hours worked',
 'Work mainly at or from home_pct',
 'Underground, metro, light rail, tram_pct',
 'Train_pct',
 'Bus, minibus or coach_pct',
 'Taxi_pct',
 'Motorcycle, scooter or moped_pct',
 'Driving a car or van_pct',
 'Passenger in a car or van_pct',
 'Bicycle_pct',
 'On foot_pct',
 'Other method of travel to work_pct',
 'Density (number of persons per hectare)',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'avg_churn_11_16']

In [7]:
# drop irrelevant features

df_modelling_01 = main_01.drop(columns=['2011 super output area - lower layer_x',
 'Local_authority_name'])

In [8]:
# re-arrange feature sequence

df_modelling_01 = df_modelling_01[[
 '2011 census lower super output areas',
 'Pop_2001',
 'avg_churn_01_10',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct',
 'One person household - Pensioner_pct',
 'One person household - Other_pct',
 'One family and no others - All pensioners_pct',
 'One family and no others - married couple households - no children_pct',
 'One family and no others - married couple households - with dependent children_pct',
 'One family and no others - married couple households - all children non-dependent_pct',
 'One family and no others - cohabiting couple households - no children_pct',
 'One family and no others - cohabiting couple households - with dependent children_pct',
 'One family and no others - cohabiting couple households - all children non-dependent_pct',
 'One family and no others - Lone parent households - with dependent children_pct',
 'One family and no others - Lone parent households - all children non-dependent_pct',
 'Other households - With dependent children_pct',
 'Other households - All students_pct',
 'Other households - All pensioner_pct',
 'Other households - Other_pct',
 'Average household size',
 'United Kingdom',
 'Republic of Ireland',
 'EU countries',
 'Rest of Europe',
 'Africa',
 'Asia',
 'North America',
 'South America',
 'Oceania',
 'White',
 'Mixed',
 'Asian/Asian British',
 'Black/Black British',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Other religion',
 'No religion',
 'Religion not stated',
 'No cars or vans in household',
 '1 car or van in household',
 '2 cars or vans in household',
 '3 cars or vans in household',
 '4 or more cars or vans in household',
 'Median_House_Prices_2001',
 'Median House Price-2010',
 'House_sales_pct',
 'Pop Density 2001',
 'dwellings_2001',
 'Occupancy rating of -1 or less_pct',
 'With central heating_pct',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 'Median_income_2001',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',    
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'Males - Part-time -Less than 15 hrs',
 'Males - Part-time - 16 to 30 hours',
 'Males - Full-time - 31 to 48 hours',
 'Males - Full-time - 49 or more hours',
 'Females - Part-time - Less than 15 hours',
 'Females - Part-time - 16 to 30 hours',
 'Females - Full-time - 31 to 48 hours',
 'Females - Full-time - 49 or more hours',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home',
 'Underground, metro, light rail, tram',
 'Train',
 'Bus, minibus or coach',
 'Motorcycle, scooter or moped',
 'Driving a car or van',
 'Passenger in a car or van',
 'Taxi or minicab',
 'Bicycle',
 'On foot',
 'Other'
]]

In [9]:
# rename features

df_modelling_01 = df_modelling_01.rename(columns = {
 '2011 census lower super output areas':'LSOA11CD',
 'Pop_2001':'Pop_size',
 'avg_churn_01_10': 'avg_pop_churn',
 'Age 0 to 4_pct':'age_0_4',
 'Age 5 to 7_pct':'age_5_7',
 'Age 8 to 9_pct':'age_8_9',
 'Age 10 to 14_pct':'age_10_14',
 'Age 15_pct':'age_15',
 'Age 16 to 17_pct':'age_16_17',
 'Age 18 to 19_pct':'age_18_19',
 'Age 20 to 24_pct':'age_20_24',
 'Age 25 to 29_pct':'age_25_29',
 'Age 30 to 44_pct':'age_30_44',
 'Age 45 to 59_pct':'age_45_59',
 'Age 60 to 64_pct':'age_60_64',
 'Age 65 to 74_pct':'age_65_74',
 'Age 75 to 84_pct':'age_75_84',
 'Age 85 to 89_pct':'age_85_89',
 'Age 90 and over_pct':'age_90_over',
 'One person household - Pensioner_pct':'1-personHse_aged',
 'One person household - Other_pct':'1-personHse_other',
 'One family and no others - All pensioners_pct':'1-family_aged',
 'One family and no others - married couple households - no children_pct':'1-family_married_noKids',
 'One family and no others - married couple households - with dependent children_pct':'1-family_married_depKids',
 'One family and no others - married couple households - all children non-dependent_pct':'1-family_married_noDepKids',
 'One family and no others - cohabiting couple households - no children_pct':'1-family_cohab_noKids',
 'One family and no others - cohabiting couple households - with dependent children_pct':'1-family_cohab_depKids',
 'One family and no others - cohabiting couple households - all children non-dependent_pct':'1-family_cohab_noDepKids',
 'One family and no others - Lone parent households - with dependent children_pct':'1-family_lone_depKids',
 'One family and no others - Lone parent households - all children non-dependent_pct':'1-family_lone_noDepKids',
 'Other households - With dependent children_pct':'otherHse_depKids',
 'Other households - All students_pct':'otherHse_students',
 'Other households - All pensioner_pct':'otherHse_aged',
 'Other households - Other_pct':'otherHse_other',
 'Average household size':'avg_hse_size',
 'United Kingdom':'born_UK',
 'Republic of Ireland':'born_IRE',
 'EU countries':'born_EU',
 'Rest of Europe':'born_restEUR',
 'Africa':'born_Africa',
 'Asia':'born_Asia',
 'North America':'born_NthAm',
 'South America':'born_SthAm',
 'Oceania':'born_Oceania',
 'White':'eth_white',
 'Mixed':'eth_mixed',
 'Asian/Asian British':'eth_asian',
 'Black/Black British':'eth_black',
 'Christian':'Christian',
 'Buddhist':'Buddhist',
 'Hindu':'Hindu',
 'Jewish':'Jewish',
 'Muslim':'Muslim',
 'Sikh':'Sikh',
 'Other religion':'Oth_religion',
 'No religion':'No_religion',
 'Religion not stated':'Religion_not_stated',
 'No cars or vans in household':'no_carsVans',
 '1 car or van in household':'1_carsVans',
 '2 cars or vans in household':'2_carsVans',
 '3 cars or vans in household':'3_carsVans',
 '4 or more cars or vans in household':'4_more_carsVans',
 'Median_House_Prices_2001':'Median_HsePrice_BaseYr',
 'Median House Price-2010':'Median_HsePrice_EndYr',
 'House_sales_pct':'avg_hse_sales',
 'Pop Density 2001': 'Pop_density',
 'dwellings_2001':'dwellings_no',
 'Occupancy rating of -1 or less_pct':'occup_rating',
 'With central heating_pct':'central_heating',
 'Average number of rooms per household':'avg_rooms',
 'Owned outright_pct':'tenure_owned_outright',
 'Owned with a mortgage or loan_pct':'tenure_owned_mortLoan',
 'Shared ownership_pct':'tenure_shared',
 'Rented from council(local authority)_pct':'tenure_rent_council',
 'Rented from a housing association/registered social landlord_pct':'tenure_rent_hsgAssc',
 'Rented from a private landlord or letting agency_pct':'tenure_rent_private',
 'Other_pct':'tenure_rent_other',
 'All household spaces - with residents_pct':'hsehold_usual_residents',
 'Whole house or bungalow - detatched_pct':'hse_detached',
 'Whole house or bungalow - semi-detatched_pct':'hse_semiDetached',
 'Whole house or bungalow - terraced_pct':'hse_terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct':'hse_flats',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct':'hse_converted_shared',
 'Flat, maisonette or apartment - in a commercial building_pct':'hse_commercial',
 'Median_income_2001':'median_income',
 '1. Managers and senior officials_pct':'Managers_directors_senior_occup',
 '2. Professional occupations_pct':'Professional_occup',
 '3. Associate professional and technical occupations_pct':'Associate_professional_technical_occup',
 '4. Administrative and secretarial occupations_pct':'Administrative_secretarial_occup',
 '5. Skilled trades occupations_pct':'Skilled_trades_occup',
 '6. Personal service occupations_pct':'Caring_leisure_other_service_occup',
 '7. Sales and customer service occupations_pct':'Sales_customer_service_occup',
 '8. Process, plant and machine operatives_pct':'Process plant_machine_operatives_occup',
 '9. Elementary occupations_pct':'Elementary_occup',
 'Economically active_pct':'economically_active',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_1',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_2',
 'X3_Intermediate_occupations_2001_pct':'NS-SEC_3',
 'X4_Small_employers_and_own_account_workers_2001_pct':'NS-SEC_4',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct':'NS-SEC_5',
 'X6_Semi_routine_occupations_2001_pct':'NS-SEC_6',
 'X7_Routine_occupations_2001_pct':'NS-SEC_7',
 'X8_Never_worked_and_long_term_unemployed_2001_pct':'NS-SEC_8',
 'Not_classified_2001_pct':'NS-SEC_noClass',
 'Males - Part-time -Less than 15 hrs':'Males_ptTime_less15hrs',
 'Males - Part-time - 16 to 30 hours':'Males_ptTime_16_30hrs',
 'Males - Full-time - 31 to 48 hours':'Males_FTime_31_48hrs',
 'Males - Full-time - 49 or more hours':'Males_FTime_more49hrs',
 'Females - Part-time - Less than 15 hours':'Females_ptTime_less15hrs',
 'Females - Part-time - 16 to 30 hours':'Females_ptTime_16_30hrs',
 'Females - Full-time - 31 to 48 hours':'Females_FTime_31_48hrs',
 'Females - Full-time - 49 or more hours':'Females_FTime_more49hrs',
 'No qualifications':'No_qual',
 'Highest level of qualification: Level 1 qualifications':'Lv1_qual',
 'Highest level of qualification: Level 2 qualifications':'Lv2_qual',
 'Highest level of qualification: Level 3 qualifications':'Lv3_qual',
 'Highest level of qualification: Level 4 qualifications and above':'Lv4_qual',
 'Highest level of qualification: Other qualifications':'Other_qual',
 'Work mainly at or from home':'toWork_home',
 'Underground, metro, light rail, tram':'toWork_underground_light_rail',
 'Train':'toWork_train',
 'Bus, minibus or coach':'toWork_bus',
 'Motorcycle, scooter or moped':'toWork_motorcycle',
 'Driving a car or van':'toWork_carVan',
 'Passenger in a car or van':'toWork_passenger_carVan',
 'Taxi or minicab':'toWork_taxi',
 'Bicycle':'toWork_bicycle',
 'On foot':'toWork_walk',
 'Other':'toWork_other'
})

In [10]:
# verify features

list(df_modelling_01.columns)

['LSOA11CD',
 'Pop_size',
 'avg_pop_churn',
 'age_0_4',
 'age_5_7',
 'age_8_9',
 'age_10_14',
 'age_15',
 'age_16_17',
 'age_18_19',
 'age_20_24',
 'age_25_29',
 'age_30_44',
 'age_45_59',
 'age_60_64',
 'age_65_74',
 'age_75_84',
 'age_85_89',
 'age_90_over',
 '1-personHse_aged',
 '1-personHse_other',
 '1-family_aged',
 '1-family_married_noKids',
 '1-family_married_depKids',
 '1-family_married_noDepKids',
 '1-family_cohab_noKids',
 '1-family_cohab_depKids',
 '1-family_cohab_noDepKids',
 '1-family_lone_depKids',
 '1-family_lone_noDepKids',
 'otherHse_depKids',
 'otherHse_students',
 'otherHse_aged',
 'otherHse_other',
 'avg_hse_size',
 'born_UK',
 'born_IRE',
 'born_EU',
 'born_restEUR',
 'born_Africa',
 'born_Asia',
 'born_NthAm',
 'born_SthAm',
 'born_Oceania',
 'eth_white',
 'eth_mixed',
 'eth_asian',
 'eth_black',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Oth_religion',
 'No_religion',
 'Religion_not_stated',
 'no_carsVans',
 '1_carsVans',
 '2_carsVans',
 '3_carsVans',
 '4_more_carsVans',
 'Median_HsePrice_BaseYr',
 'Median_HsePrice_EndYr',
 'avg_hse_sales',
 'Pop_density',
 'dwellings_no',
 'occup_rating',
 'central_heating',
 'avg_rooms',
 'tenure_owned_outright',
 'tenure_owned_mortLoan',
 'tenure_shared',
 'tenure_rent_council',
 'tenure_rent_hsgAssc',
 'tenure_rent_private',
 'tenure_rent_other',
 'hsehold_usual_residents',
 'hse_detached',
 'hse_semiDetached',
 'hse_terraced',
 'hse_flats',
 'hse_converted_shared',
 'hse_commercial',
 'median_income',
 'Managers_directors_senior_occup',
 'Professional_occup',
 'Associate_professional_technical_occup',
 'Administrative_secretarial_occup',
 'Skilled_trades_occup',
 'Caring_leisure_other_service_occup',
 'Sales_customer_service_occup',
 'Process plant_machine_operatives_occup',
 'Elementary_occup',
 'economically_active',
 'NS-SEC_1',
 'NS-SEC_2',
 'NS-SEC_3',
 'NS-SEC_4',
 'NS-SEC_5',
 'NS-SEC_6',
 'NS-SEC_7',
 'NS-SEC_8',
 'NS-SEC_noClass',
 'Males_ptTime_less15hrs',
 'Males_ptTime_16_30hrs',
 'Males_FTime_31_48hrs',
 'Males_FTime_more49hrs',
 'Females_ptTime_less15hrs',
 'Females_ptTime_16_30hrs',
 'Females_FTime_31_48hrs',
 'Females_FTime_more49hrs',
 'No_qual',
 'Lv1_qual',
 'Lv2_qual',
 'Lv3_qual',
 'Lv4_qual',
 'Other_qual',
 'toWork_home',
 'toWork_underground_light_rail',
 'toWork_train',
 'toWork_bus',
 'toWork_motorcycle',
 'toWork_carVan',
 'toWork_passenger_carVan',
 'toWork_taxi',
 'toWork_bicycle',
 'toWork_walk',
 'toWork_other']

In [11]:
df_modelling_01.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
0,E01000001,1600.0,2.275180,2.44,0.75,0.62,1.94,0.19,0.88,1.06,...,23.084201,3.122044,2.838221,0.946074,7.190161,0.473037,2.365184,1.513718,48.155156,0.378430
1,E01000002,1470.0,2.284483,3.27,1.16,1.29,2.38,0.20,0.41,0.54,...,21.212121,2.089864,4.806688,0.522466,7.628004,0.522466,2.194357,1.776385,43.678161,1.671891
2,E01000003,1537.0,2.934233,4.03,1.89,1.30,1.11,0.33,1.63,2.41,...,23.247232,3.813038,6.027060,1.107011,4.674047,0.000000,1.230012,2.460025,49.692497,0.492005
3,E01000005,1073.0,2.599725,7.18,3.73,2.89,6.80,1.49,2.61,1.77,...,28.826531,3.571429,11.734694,0.000000,6.632653,0.765306,0.765306,1.785714,36.989796,0.765306
4,E01000006,1571.0,2.146893,7.32,2.93,2.80,6.24,1.46,2.55,2.99,...,27.647868,12.654746,8.803301,0.962861,29.298487,3.438790,0.825309,1.237964,9.353508,0.412655

In [12]:
# checkpoint - output file
# df_modelling_01.to_csv('df_modelling_01.csv')

### Prep 2011 Datasets

In [13]:
# drop irrelevant features

df_modelling_11 = main_11.drop(columns=['2011 super output area - lower layer_x',
 'Local_authority_name'])

In [14]:
# re-arrange feature sequence

df_modelling_11 = df_modelling_11[[
 '2011 census lower super output areas',
 'Pop_2011',
 'avg_churn_11_16',
 'Age 0 to 4_pct',
 'Age 5 to 7_pct',
 'Age 8 to 9_pct',
 'Age 10 to 14_pct',
 'Age 15_pct',
 'Age 16 to 17_pct',
 'Age 18 to 19_pct',
 'Age 20 to 24_pct',
 'Age 25 to 29_pct',
 'Age 30 to 44_pct',
 'Age 45 to 59_pct',
 'Age 60 to 64_pct',
 'Age 65 to 74_pct',
 'Age 75 to 84_pct',
 'Age 85 to 89_pct',
 'Age 90 and over_pct', 
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'Other household types: All full-time students_pct',
 'Other household types: All aged 65 and over_pct',
 'Other household types: Other_pct',
 'Average household size',  
 'Europe: United Kingdom: Total',
 'Europe: Ireland',
 'Europe: Other Europe: EU Countries: Total',
 'Europe: Other Europe: Rest of Europe: Total',
 'Africa: Total',
 'Middle East and Asia: Total',
 'The Americas and the Caribbean: North America and The Caribbeans: Total',
 'The Americas and the Caribbean: South America',
 'Antarctica and Oceania: Total',
 'White_pct',
 'Mixed/multiple ethnic groups_pct',
 'Asian/Asian British_pct',
 'Black/African/Caribbean/Black British_pct',    
 'Christian_pct',
 'Buddhist_pct',
 'Hindu_pct',
 'Jewish_pct',
 'Muslim_pct',
 'Sikh_pct',
 'Other religion_pct',
 'No religion_pct',
 'Religion not stated_pct',
 'No cars or vans in household_pct',
 '1 car or van in household_pct',
 '2 cars or vans in household_pct',
 '3 cars or vans in household_pct',
 '4 or more cars or vans in household_pct',    
 'Median_House_Prices_2011',
 'Median House Price 2016',
 'House_sales_pct',   
 'Density (number of persons per hectare)',
 'dwellings_2011', 
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',    
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 'Median_income_2011',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct',
 'Males: Part-time: 15 hours or less worked',
 'Males: Part-time: 16 to 30 hours worked',
 'Males: Full-time: 31 to 48 hours worked',
 'Males: Full-time: 49 or more hours worked',
 'Females: Part-time: 15 hours or less worked',
 'Females: Part-time: 16 to 30 hours worked',
 'Females: Full-time: 31 to 48 hours worked',
 'Females: Full-time: 49 or more hours worked',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home_pct',
 'Underground, metro, light rail, tram_pct',
 'Train_pct',
 'Bus, minibus or coach_pct',
 'Motorcycle, scooter or moped_pct',
 'Driving a car or van_pct',
 'Passenger in a car or van_pct',
 'Taxi_pct',
 'Bicycle_pct',
 'On foot_pct',
 'Other method of travel to work_pct'
]]

In [15]:
# rename features to be consistent with 2001 modelling dataset

df_modelling_11 = df_modelling_11.rename(columns={
 '2011 census lower super output areas':'LSOA11CD',
 'Pop_2011':'Pop_size',
 'avg_churn_11_16': 'avg_pop_churn',
 'Age 0 to 4_pct':'age_0_4',
 'Age 5 to 7_pct':'age_5_7',
 'Age 8 to 9_pct':'age_8_9',
 'Age 10 to 14_pct':'age_10_14',
 'Age 15_pct':'age_15',
 'Age 16 to 17_pct':'age_16_17',
 'Age 18 to 19_pct':'age_18_19',
 'Age 20 to 24_pct':'age_20_24',
 'Age 25 to 29_pct':'age_25_29',
 'Age 30 to 44_pct':'age_30_44',
 'Age 45 to 59_pct':'age_45_59',
 'Age 60 to 64_pct':'age_60_64',
 'Age 65 to 74_pct':'age_65_74',
 'Age 75 to 84_pct':'age_75_84',
 'Age 85 to 89_pct':'age_85_89',
 'Age 90 and over_pct':'age_90_over',
 'One person household: Aged 65 and over_pct':'1-personHse_aged',
 'One person household: Other_pct':'1-personHse_other',
 'One family only: All aged 65 and over_pct':'1-family_aged',
 'One family only: Married or same-sex civil partnership couple: No children_pct':'1-family_married_noKids',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct':'1-family_married_depKids',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct':'1-family_married_noDepKids',
 'One family only: Cohabiting couple: No children_pct':'1-family_cohab_noKids',
 'One family only: Cohabiting couple: Dependent children_pct':'1-family_cohab_depKids',
 'One family only: Cohabiting couple: All children non-dependent_pct':'1-family_cohab_noDepKids',
 'One family only: Lone parent: Dependent children_pct':'1-family_lone_depKids',
 'One family only: Lone parent: All children non-dependent_pct':'1-family_lone_noDepKids',
 'Other household types: With dependent children_pct':'otherHse_depKids',
 'Other household types: All full-time students_pct':'otherHse_students',
 'Other household types: All aged 65 and over_pct':'otherHse_aged',
 'Other household types: Other_pct':'otherHse_other',
 'Average household size':'avg_hse_size',
 'Europe: United Kingdom: Total':'born_UK',
 'Europe: Ireland':'born_IRE',
 'Europe: Other Europe: EU Countries: Total':'born_EU',
 'Europe: Other Europe: Rest of Europe: Total':'born_restEUR',
 'Africa: Total':'born_Africa',
 'Middle East and Asia: Total':'born_Asia',
 'The Americas and the Caribbean: North America and The Caribbeans: Total':'born_NthAm',
 'The Americas and the Caribbean: South America':'born_SthAm',
 'Antarctica and Oceania: Total':'born_Oceania',
 'White_pct':'eth_white',
 'Mixed/multiple ethnic groups_pct':'eth_mixed',
 'Asian/Asian British_pct':'eth_asian',
 'Black/African/Caribbean/Black British_pct':'eth_black',    
 'Christian_pct':'Christian',
 'Buddhist_pct':'Buddhist',
 'Hindu_pct':'Hindu',
 'Jewish_pct':'Jewish',
 'Muslim_pct':'Muslim',
 'Sikh_pct':'Sikh',
 'Other religion_pct':'Oth_religion',
 'No religion_pct':'No_religion',
 'Religion not stated_pct':'Religion_not_stated',
 'No cars or vans in household_pct':'no_carsVans',
 '1 car or van in household_pct':'1_carsVans',
 '2 cars or vans in household_pct':'2_carsVans',
 '3 cars or vans in household_pct':'3_carsVans',
 '4 or more cars or vans in household_pct':'4_more_carsVans',    
 'Median_House_Prices_2011':'Median_HsePrice_BaseYr',
 'Median House Price 2016':'Median_HsePrice_EndYr',
 'House_sales_pct':'avg_hse_sales',
 'Density (number of persons per hectare)': 'Pop_density',
 'dwellings_2011':'dwellings_no', 
 'Occupancy rating (rooms) of -1 or less_pct':'occup_rating',
 'Does have central heating_pct':'central_heating',    
 'Average number of rooms per household':'avg_rooms',
 'Owned: Owned outright_pct':'tenure_owned_outright',
 'Owned: Owned with a mortgage or loan_pct':'tenure_owned_mortLoan',
 'Shared ownership (part owned and part rented)_pct':'tenure_shared',
 'Social rented: Rented from council (Local Authority)_pct':'tenure_rent_council',
 'Social rented: Other_pct':'tenure_rent_hsgAssc',
 'Private rented: Private landlord or letting agency_pct':'tenure_rent_private',
 'Private rented: Other_pct':'tenure_rent_other',
 'Household spaces with at least one usual resident_pct':'hsehold_usual_residents',
 'Whole house or bungalow: Detached_pct':'hse_detached',
 'Whole house or bungalow: Semi-detached_pct':'hse_semiDetached',
 'Whole house or bungalow: Terraced (including end-terrace)_pct':'hse_terraced',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct':'hse_flats',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct':'hse_converted_shared',
 'Flat, maisonette or apartment: In a commercial building_pct':'hse_commercial',
 'Median_income_2011':'median_income',
 '1. Managers, directors and senior officials_pct':'Managers_directors_senior_occup',
 '2. Professional occupations_pct':'Professional_occup',
 '3. Associate professional and technical occupations_pct':'Associate_professional_technical_occup',
 '4. Administrative and secretarial occupations_pct':'Administrative_secretarial_occup',
 '5. Skilled trades occupations_pct':'Skilled_trades_occup',
 '6. Caring, leisure and other service occupations_pct':'Caring_leisure_other_service_occup',
 '7. Sales and customer service occupations_pct':'Sales_customer_service_occup',
 '8. Process plant and machine operatives_pct':'Process plant_machine_operatives_occup',
 '9. Elementary occupations_pct':'Elementary_occup',
 'Economically active_pct':'economically_active',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct':'NS-SEC_1',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct':'NS-SEC_2',
 'X3_Intermediate_occupations_2011_pct':'NS-SEC_3',
 'X4_Small_employers_and_own_account_workers_2011_pct':'NS-SEC_4',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct':'NS-SEC_5',
 'X6_Semi_routine_occupations_2011_pct':'NS-SEC_6',
 'X7_Routine_occupations_2011_pct':'NS-SEC_7',
 'X8_Never_worked_and_long_term_unemployed_2011_pct':'NS-SEC_8',
 'Not_classified_2011_pct':'NS-SEC_noClass',
 'Males: Part-time: 15 hours or less worked':'Males_ptTime_less15hrs',
 'Males: Part-time: 16 to 30 hours worked':'Males_ptTime_16_30hrs',
 'Males: Full-time: 31 to 48 hours worked':'Males_FTime_31_48hrs',
 'Males: Full-time: 49 or more hours worked':'Males_FTime_more49hrs',
 'Females: Part-time: 15 hours or less worked':'Females_ptTime_less15hrs',
 'Females: Part-time: 16 to 30 hours worked':'Females_ptTime_16_30hrs',
 'Females: Full-time: 31 to 48 hours worked':'Females_FTime_31_48hrs',
 'Females: Full-time: 49 or more hours worked':'Females_FTime_more49hrs',
 'No qualifications':'No_qual',
 'Highest level of qualification: Level 1 qualifications':'Lv1_qual',
 'Highest level of qualification: Level 2 qualifications':'Lv2_qual',
 'Highest level of qualification: Level 3 qualifications':'Lv3_qual',
 'Highest level of qualification: Level 4 qualifications and above':'Lv4_qual',
 'Highest level of qualification: Other qualifications':'Other_qual',
 'Work mainly at or from home_pct':'toWork_home',
 'Underground, metro, light rail, tram_pct':'toWork_underground_light_rail',
 'Train_pct':'toWork_train',
 'Bus, minibus or coach_pct':'toWork_bus',
 'Motorcycle, scooter or moped_pct':'toWork_motorcycle',
 'Driving a car or van_pct':'toWork_carVan',
 'Passenger in a car or van_pct':'toWork_passenger_carVan',
 'Taxi_pct':'toWork_taxi',
 'Bicycle_pct':'toWork_bicycle',
 'On foot_pct':'toWork_walk',
 'Other method of travel to work_pct':'toWork_other'
})

In [16]:
df_modelling_11.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
0,E01000001,1465,5.980216,3.41,1.30,0.96,1.77,0.41,0.48,0.41,...,14.660115,2.866503,2.702703,0.327600,2.211302,0.327600,0.737101,3.767404,35.626536,0.737101
1,E01000002,1436,6.106322,4.18,2.30,0.91,2.09,0.49,0.77,0.70,...,15.468227,3.511706,1.839465,0.501672,2.006689,0.083612,1.003344,4.682274,33.695652,0.836120
2,E01000003,1346,5.059022,3.94,1.04,0.59,1.78,0.37,2.45,2.53,...,13.520871,3.448276,6.170599,0.362976,2.631579,0.090744,0.181488,6.170599,28.765880,0.816697
3,E01000005,985,5.937643,4.26,3.86,2.23,4.97,1.32,1.83,1.73,...,13.842173,5.304010,9.702458,0.129366,3.234153,0.258732,0.129366,4.139715,20.181113,0.129366
4,E01000006,1703,5.273070,9.04,4.46,2.70,5.87,1.06,2.00,1.82,...,20.463629,8.393285,4.476419,0.079936,17.745803,0.799361,0.159872,0.559552,4.716227,0.159872

In [17]:
# checkpoint - output file
# df_modelling_11.to_csv("df_modelling_11.csv")

In [18]:
# checking for null columns

list(df_modelling_01.isna().any())

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [19]:
# checking for null columns

list(df_modelling_11.isna().any())

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

### Scaling the variables

In [20]:
# checkpoint - reload the files

#df_modelling_01 = pd.read_csv("df_modelling_01.csv").drop(columns="Unnamed: 0")
# df_modelling_11 = pd.read_csv("df_modelling_11.csv").drop(columns="Unnamed: 0")

In [21]:
from sklearn.preprocessing import RobustScaler

In [22]:
df_modelling_01 = df_modelling_01.set_index("LSOA11CD")
df_modelling_11 = df_modelling_11.set_index("LSOA11CD")

In [23]:
# re-scale 2001 variables

scaler_01 = RobustScaler()
df_modelling_std_01 = scaler_01.fit_transform(df_modelling_01)
df_modelling_std_01 = pd.DataFrame(df_modelling_std_01, index = df_modelling_01.index, columns=df_modelling_01.columns)

In [24]:
df_modelling_std_01.head()

,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,age_20_24,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
LSOA11CD,,,,,,,,,,,,,,,,,,,,,
E01000001,0.854701,0.037677,-1.731343,-1.986667,-1.702703,-1.606870,-1.454545,-1.309735,-1.136842,-0.257426,...,0.263259,-0.366414,-0.893246,-0.378079,-1.108180,-0.915629,3.578703,-0.142289,8.831109,-0.068483
E01000002,-0.256410,0.056527,-1.377399,-1.713333,-1.099099,-1.438931,-1.439394,-1.725664,-1.684211,-0.660066,...,0.179981,-0.444810,-0.660327,-0.838531,-1.089724,-0.891658,3.246082,-0.020480,7.867334,2.147109
E01000003,0.316239,1.373138,-1.053305,-1.226667,-1.090090,-1.923664,-1.242424,-0.646018,0.284211,0.085809,...,0.270512,-0.313932,-0.515927,-0.203144,-1.214237,-1.145030,1.368383,0.296554,9.162056,0.126062
E01000005,-3.649573,0.695312,0.289979,0.000000,0.342342,0.248092,0.515152,0.221239,-0.389474,0.059406,...,0.518704,-0.332282,0.159427,-1.406440,-1.131680,-0.773892,0.463543,-0.016153,6.427513,0.594204
E01000006,0.606838,-0.222276,0.349680,-0.533333,0.261261,0.034351,0.469697,0.168142,0.894737,0.075908,...,0.466272,0.357612,-0.187429,-0.359832,-0.176290,0.522624,0.580377,-0.270168,0.478177,-0.009858

In [25]:
# checkpoint - output file
# df_modelling_std_01.to_csv("df_modelling_std_01.csv")

In [26]:
# re-scale 2011 variables

scaler_11 = RobustScaler()
df_modelling_std_11 = scaler_11.fit_transform(df_modelling_11)
df_modelling_std_11 = pd.DataFrame(df_modelling_std_11, index = df_modelling_11.index, columns=df_modelling_11.columns)

In [27]:
df_modelling_std_11.head()

,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,age_20_24,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
LSOA11CD,,,,,,,,,,,,,,,,,,,,,
E01000001,-0.658537,0.517292,-1.383142,-1.615385,-1.265306,-1.564,-1.107692,-1.504132,-1.732673,-0.899489,...,0.170795,-0.306083,-0.835334,-0.546198,-0.859595,-0.631409,1.793259,0.805561,11.685667,1.749058
E01000002,-0.759582,0.617433,-1.088123,-0.916084,-1.316327,-1.436,-0.984615,-1.264463,-1.445545,-1.413969,...,0.227091,-0.233313,-0.974646,-0.233249,-0.871737,-0.858955,2.703046,1.137534,10.966777,2.137273
E01000003,-1.073171,-0.214230,-1.180077,-1.797203,-1.642857,-1.560,-1.169231,0.123967,0.366337,-0.415673,...,0.091431,-0.240467,-0.275673,-0.482598,-0.834654,-0.852303,-0.105336,1.677591,9.131364,2.061122
E01000005,-2.331010,0.483485,-1.057471,0.174825,0.030612,-0.284,0.292308,-0.388430,-0.425743,0.991482,...,0.113814,-0.031168,0.294310,-0.902586,-0.798896,-0.695636,-0.283444,0.940659,5.935153,-0.633620
E01000006,0.170732,-0.044254,0.773946,0.594406,0.510204,0.076,-0.107692,-0.247934,-0.336634,0.214651,...,0.575088,0.317257,-0.549085,-0.991452,0.062273,-0.191442,-0.179201,-0.358449,0.177392,-0.514019

In [28]:
# checkpoint - output file
# df_modelling_std_11.to_csv("df_modelling_std_11.csv")

### Attach Clustering Labels to 2001 Modelling Dataset

In [29]:
labels = pd.read_csv("LSOA_labels_forMapping.csv").drop(columns="Unnamed: 0")

In [30]:
labels.head()

   LSOA_Code Class_1_status Class_2_status Class_3_status
0  E01000001            STB            STB            STB
1  E01000002            STB            STB            STB
2  E01000003            STB            STB            STB
3  E01000005            STB            STB            STB
4  E01000006            ASC            IUP            IUP

In [31]:
df_modelling_std_01 = df_modelling_std_01.reset_index()

In [32]:
# merge the inputs for modelling and cluster labels

df_modelling_std_01_labels = df_modelling_std_01.merge(labels[["LSOA_Code","Class_2_status", "Class_3_status"]], left_on="LSOA11CD", right_on="LSOA_Code", how = "left")

In [33]:
df_modelling_std_01_labels = df_modelling_std_01_labels.drop(columns="LSOA_Code")

In [34]:
df_modelling_std_01_labels.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,...,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other,Class_2_status,Class_3_status
0,E01000001,0.854701,0.037677,-1.731343,-1.986667,-1.702703,-1.606870,-1.454545,-1.309735,-1.136842,...,-0.893246,-0.378079,-1.108180,-0.915629,3.578703,-0.142289,8.831109,-0.068483,STB,STB
1,E01000002,-0.256410,0.056527,-1.377399,-1.713333,-1.099099,-1.438931,-1.439394,-1.725664,-1.684211,...,-0.660327,-0.838531,-1.089724,-0.891658,3.246082,-0.020480,7.867334,2.147109,STB,STB
2,E01000003,0.316239,1.373138,-1.053305,-1.226667,-1.090090,-1.923664,-1.242424,-0.646018,0.284211,...,-0.515927,-0.203144,-1.214237,-1.145030,1.368383,0.296554,9.162056,0.126062,STB,STB
3,E01000005,-3.649573,0.695312,0.289979,0.000000,0.342342,0.248092,0.515152,0.221239,-0.389474,...,0.159427,-1.406440,-1.131680,-0.773892,0.463543,-0.016153,6.427513,0.594204,STB,STB
4,E01000006,0.606838,-0.222276,0.349680,-0.533333,0.261261,0.034351,0.469697,0.168142,0.894737,...,-0.187429,-0.359832,-0.176290,0.522624,0.580377,-0.270168,0.478177,-0.009858,IUP,IUP

In [35]:
# transpose labels

df_modelling_std_01_labels["GEN_Class2"]="NON-GEN"
df_modelling_std_01_labels["GEN_Class3"]="NON-GEN"

In [36]:
for i in range(len(df_modelling_std_01_labels)):
    if df_modelling_std_01_labels.loc[i,"Class_2_status"] == "GEN":
        df_modelling_std_01_labels.loc[i,"GEN_Class2"] = "GEN"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "MargGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "MargGen"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "MainGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "MainGen"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "SupGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "SupGen"
    else:
        continue

In [37]:
df_modelling_std_01_labels.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_7,age_8_9,age_10_14,age_15,age_16_17,age_18_19,...,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other,Class_2_status,Class_3_status,GEN_Class2,GEN_Class3
0,E01000001,0.854701,0.037677,-1.731343,-1.986667,-1.702703,-1.606870,-1.454545,-1.309735,-1.136842,...,-1.108180,-0.915629,3.578703,-0.142289,8.831109,-0.068483,STB,STB,NON-GEN,NON-GEN
1,E01000002,-0.256410,0.056527,-1.377399,-1.713333,-1.099099,-1.438931,-1.439394,-1.725664,-1.684211,...,-1.089724,-0.891658,3.246082,-0.020480,7.867334,2.147109,STB,STB,NON-GEN,NON-GEN
2,E01000003,0.316239,1.373138,-1.053305,-1.226667,-1.090090,-1.923664,-1.242424,-0.646018,0.284211,...,-1.214237,-1.145030,1.368383,0.296554,9.162056,0.126062,STB,STB,NON-GEN,NON-GEN
3,E01000005,-3.649573,0.695312,0.289979,0.000000,0.342342,0.248092,0.515152,0.221239,-0.389474,...,-1.131680,-0.773892,0.463543,-0.016153,6.427513,0.594204,STB,STB,NON-GEN,NON-GEN
4,E01000006,0.606838,-0.222276,0.349680,-0.533333,0.261261,0.034351,0.469697,0.168142,0.894737,...,-0.176290,0.522624,0.580377,-0.270168,0.478177,-0.009858,IUP,IUP,NON-GEN,NON-GEN

In [38]:
# checkpoint - output file
# df_modelling_std_01_labels.to_csv("df_modelling_std_01_labels.csv")